/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px;
    transition: all .3s ease;
    // border-bottom: 1px solid $white;

    &.scroll {
        background: $blue-Charcoal;
        box-shadow: $box-shadow;
    }

    .header-main {
        padding: 25px 0;

        @include media-breakpoint-down(lg) {
            padding: 15px 0;
        }

        .logo {
            display: inline-block;

            img {
                max-width: 201px;
            }
        }
    }

    .main-nav {
        margin-right: 0px;
        @include media-breakpoint-down(xl) {
            margin-right: 0px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-right: 56px;
                padding: 10px 0;

                @media (max-width: 1890px) {
                    margin-right: 40px;
                }
                @media (max-width: 1805px) {
                    margin-right: 35px;
                }

                @include media-breakpoint-down(xl) {
                  margin-right: 30px;
                }
                @media (max-width: 1681px) {
                    margin-right: 25px;
                }
                @media (max-width: 1318px) {
                    margin-right: 25px;
                }
                @media (max-width: 1200px) {
                    margin-right: 25px;
                }
                // &:last-child {
                //     margin-right: 0;
                // }
                a {
                    font-size: 16px;
                    color: $white;
                    position: relative;
                    display: block;
                    font-weight: $font-weight-semibold;
                    text-transform: uppercase;
                    line-height: 39px;
                    letter-spacing: 1.68px;

                    @include media-breakpoint-down(xxl){
                      font-size: 14px;
                    }
                    @include media-breakpoint-down(xl){
                      font-size: 13px;
                    }
                    @media (max-width: 1165px) {
                        font-size: 12px;
                    }

                    &.login-menu {
                        border: 2px solid $white;
                        line-height: 35px;
                        padding: 0 20px;

                        @media (max-width: 1681px) {
                            padding: 0 15px;
                        }
                        @media (max-width: 1165px) {
                            padding: 0 10px;
                        }

                        &:hover {
                            background: $white;
                            color: $secondary;
                            text-decoration: none;
                        }

                        &:after {
                            display: none;
                        }
                    }

                    i {
                        margin-left: 8px;
                        color: $white;
                        transform: rotate(0deg);
                        transition: all .3s ease;

                        @media(min-width:1120px) and (max-width: 1350px) {
                            margin-left: 5px;
                        }
                    }
                    &:after {
                        content: '';
                        background: $secondary;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: 0px;
                        transition: all .3s ease;
                        opacity: 0;
                    }

                    &:hover {
                      color: $secondary;

                        i {
                            transform: rotate(180deg);
                            transition: all .3s ease;
                            color: $secondary;
                        }
                        &:after {
                            width: 100%;
                            transition: all .3s ease;
                            opacity: 1;
                        }
                    }
                    &:focus {
                      color: $secondary;
                      
                      i {
                          transform: rotate(180deg);
                          transition: all .3s ease;
                          opacity: 1;
                      }
                      &:after {
                          width: 100%;
                          transition: all .3s ease;
                      }
                  }
                }
                &.language-menu {
                    .sub-menu {
                        background-color: transparent;
                        min-width: 10px;
                        width: 100%;
                        margin-top: -10px;
                        box-shadow: none;

                        &:before {
                            display: none;
                        }
                        li {
                            &:hover {
                                background: transparent;
                            }
                            a {
                                width: auto;
                                color: $white;
                                padding: 0;
                                text-align: left;
                            }
                        }

                    }
                }
                .sub-menu {
                    display: none;
                    position: absolute;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    flex-wrap: wrap;
                    min-width: 281px;
                    background: $white;
                    box-shadow: $box-shadow-small;
                    border-radius: $border-radius;

                    li {
                        display: block;
                        // border-bottom: solid 1px rgba(250,250,250,.10);
                        transition: all 0.3s ease;
                        margin: 0 0 1px 0;
                        padding: 0;
                        max-width: 100%;
                        flex: 0 0 100%;
                        color: $primary;
                        text-align: left;

                        @include media-breakpoint-down(lg) {
                            font-size: 14px;
                        }

                        &:hover {
                            
                        }
                        a {
                            font-size: 14px;
                            display: block;
                            line-height: 1;
                            color: $midnight;
                            padding: 24px 30px;
                            text-transform: none;

                            &:after {
                                display: none;
                            }
                            small {
                                font-size: 12px;
                                width: 100%;
                                display: block;
                                line-height: 17px;
                                color: $midnight;
                            }
                        }
                        &:hover {
                            background: $gray91;
                        }                        
                    }
                    &:before {
                        content: "";
                        width: 0; 
                        height: 0; 
                        display: inline-block;
                        border-style: solid;
                        border-width: 0 12px 10px 12px;
                        border-color: transparent transparent $white transparent;
                        position: absolute;
                        top: auto;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:hover {
                    .sub-menu {
                        display: flex;
                    }
                }
            }
        }
    }
    .lang-menu {
        margin-right: 0px;
        position: relative;

        .current-lang {
          position: relative;
          cursor: pointer;
          font-size: 14px;
          color: $white;
          font-weight: $font-weight-medium;
            text-transform: uppercase;
            line-height: 39px;
            letter-spacing: 1.68px;
          
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
          span {
            position: absolute;
            display: block;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background: $secondary;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all 0.3s ease;
            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $white;
              font-size: 14px;
            }
          }
        }
        ul {
          display: none;
          position: absolute;
          list-style: none;
          padding: 0;
          margin: 0;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          min-width: 10px;
          width: 100%;
          li {
            transition: all 0.3s ease;
            a {
              display: flex;
              align-items: center;
              color: $body-color;
              font-size: 14px;
              color: $white;

              &:hover {
                color: $secondary;
              }
            }
            &:hover {
              color: $secondary;
            }
            &:first-child {
              border-top-left-radius: $border-radius;
              border-top-right-radius: $border-radius;
            }
            &:last-child {
              border-bottom: none;
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
          }
        }
        &:hover {
          .current-lang {
            span {
              background: $secondary;
              transform: rotateZ(180deg);
            }
          }
          ul {
            display: block;
          }
        }
    }
    .nav-search {
      color: $white;
      cursor: pointer;
      margin: 0 0 0 10px;
      svg{
        max-width: 34px;
        @include media-breakpoint-down(xl) {
          max-width: 30px;
        }
        @include media-breakpoint-down(md) {
          max-width: 24px;
        }
      }
    }
    .nav-toggle {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        display: none;

        @include media-breakpoint-down(md) {
            margin-left: 30px;
            display: block;
        }
        span {
            width: 20px;
            height: 2px;
            background: $white;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            &:before {
                content: "";
                position: absolute;
                top: -8px;
                right: 0;
                width: 30px;
                height: 100%;
                background: $white;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -8px;
                right: 0;
                width: 25px;
                height: 100%;
                background: $white;
            }
        }
    }

    &.dark{
      background: $white-smoke;
      .main-nav {
        ul {
            li {
                a {
                    color: $midnight;
                    &.login-menu {
                    }

                    i {
                      color: $midnight;
                    }
                    &:after {
                    }

                    &:hover {
                      color: $secondary;
                    }
                    &:focus {
                      color: $secondary;
                      
                      i {
                      }
                      &:after {
                      }
                  }
                }
                &.language-menu {
                    .sub-menu {

                        &:before {
                        }
                        li {
                            &:hover {
                            }
                            a {

                            }
                        }

                    }
                }
                .sub-menu {
                    background: $white-smoke;

                    li {
                        color: $primary;
                        &:hover {                            
                        }
                        a {
                            color: $midnight;
                            &:after {
                                display: none;
                            }
                            small {
                                color: $midnight;
                            }
                        }
                        &:hover {
                            background: $gray88;
                        }                        
                    }
                    &:before {
                      border-color: transparent transparent #f0f0f0 transparent;
                    }
                }
                &:hover {
                    .sub-menu {
                        display: flex;
                    }
                }
            }
        }
      }
      .nav-search {
        svg{
          path{
            fill: $midnight;
          }
        }
      }
      .nav-toggle {
        span{
          background: $midnight;

          &::before{
            background: $midnight;
          }
          &::after{
            background: $midnight;
          }
        }
      }

      &.scroll{
        background:$midnight;
        .main-nav {
          ul {
  
              li {
                  a {
                      color: $white;
  
                      i {
                          color: $white;
                      }
                      &:after {
                          content: '';
                          background: $secondary;
                      }
  
                      &:hover {
                        color: $secondary;
  
                          i {
                              color: $secondary;
                          }
                          &:after {
                          }
                      }
                      &:focus {
                        color: $secondary;
                        
                        i {
                            transform: rotate(180deg);
                            transition: all .3s ease;
                            opacity: 1;
                        }
                        &:after {
                            width: 100%;
                            transition: all .3s ease;
                        }
                    }
                  }
                  &.language-menu {
                      .sub-menu {
  
                          &:before {
                              display: none;
                          }
                          li {
                              &:hover {
                                  background: transparent;
                              }
                              a {
                                  width: auto;
                                  color: $white;
                                  padding: 0;
                                  text-align: left;
                              }
                          }
  
                      }
                  }
                  .sub-menu {
                      background: $white-smoke;
  
                      li {
  
                          &:hover {
                              
                          }
                          a {
  
                              &:after {
                                  display: none;
                              }
                              small {
                              }
                          }
                          &:hover {
                              background: $gray91;
                          }                        
                      }
                      &:before {
                      }
                  }
                  &:hover {
                      .sub-menu {
                          display: flex;
                      }
                  }
              }
          }
      }
      .lang-menu {
          
      }
      .nav-toggle {
        span{
          background: $white;

          &::before{
            background: $white;
          }
          &::after{
            background: $white;
          }
        }
      }
      .nav-search {
        svg{
          path{
            fill: $white;
          }
        }
      }
      }
    }


    .header-search{
      position: fixed;
      height: 112px;
      width: 100%;
      background: $limerick;
      left:0;
      top:-200px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      @include media-breakpoint-down(lg){
        height: 92px;
      }

      &__form{
        padding-left: 46px;
        max-width: 870px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media-breakpoint-down(md){
          padding-left: 0;
          max-width: 700px;
        }
        @include media-breakpoint-down(sm){
          max-width: calc(100% - 40px);
        }

        input{
          height:50px;
          padding:10px 30px;
          border-radius:30px;
          font-size:15px;
          letter-spacing:1.8px;
          font-weight: $font-weight-semibold;
          border:none;
          width: calc(100% - 237px);

          @include media-breakpoint-down(sm){
            height: 45px;
            width: calc(100% - 50px);
          }

          &:focus{
            outline: none;
            box-shadow:none;
          }
        }
        .search_btn{
            @include media-breakpoint-down(sm){
              padding-right: 10px;
              padding-left: 10px;
            }
          	svg{
              display: none;
              margin-right: 0;
              max-width: 24px;
              @include media-breakpoint-down(sm){
                display: block;
              }
            }
            span{
              @include media-breakpoint-down(sm){
                display: none;
              }
            }
        }        
      }
      .search__close{
        right: 65px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width:30px;
        height:30px;
        position:absolute;
        text-align: center;
        @include media-breakpoint-down(md){
          right:15px;
        }
        @include media-breakpoint-down(sm){
          right:10px;
        }
      }
      &.active{
        top:0;
      }
    }
}


/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    display: block;
    flex-flow: row wrap;
    pointer-events: none;
    overflow: auto;
    background: $midnight;
    transform: translateY(-150%);
    padding-top: 100px;
    @include media-breakpoint-down(md) {
    }
    .overlay__close {
      position: absolute;
      top: 30px;
      right: 30px;
      color: $white;
      font-size: 28px;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      @include media-breakpoint-down(md) {
        top: 20px;
        right: 20px;
        color: $white;
      }
    }
    .overlay__logo {
        position: absolute;
        top: 20px;
        left: 20px;

        img {
            width: auto;
            max-width: 210px;
        }
    }

    .main-nav {
      padding: 0 15px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 20px;
          a {
            color: $white;
            font-size: 36px;
            position: relative;
            @include media-breakpoint-down(lg) {
              font-size: 24px;
            }
            i {
              margin-left: 15px;
              position: relative;
              top: 2px;
              transition: all 0.3s ease;
            }
            .counter {
              height: 20px;
              width: 20px;
              display: block;
              background: $white;
              border-radius: 50%;
              font-size: 13px;
              color: $white;
              text-align: center;
              line-height: 20px;
              position: absolute;
              top: -3px;
              right: -15px;
              @include media-breakpoint-down(md) {
                height: 15px;
                width: 15px;
                font-size: 9px;
                line-height: 15px;
              }
            }
          }
          &.opened {
            a {
              i {
                transform: rotate(180deg);
                transition: all 0.3s ease;
              }
            }
          }
          .sub-menu {
            display: none;
            margin-top: 10px;
            & > li {
              margin-bottom: 5px;
              a {
                font-size: 36px;

                @include media-breakpoint-down(lg) {
                  font-size: 24px;
                }
                small {
                    display: block;
                    color: $midnight;
                }
              }
            }
            &.open {
              i {
                transform: rotate(180deg);
                transition: all 0.3s ease;
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        ul {
          margin: 10px 0 20px;
          li {

            font-size: 20px;
            margin: 15px 0;
            position: relative;
            color: $white;
            &.open {
              i {
                transform: rotate(180deg);
                transition: all 0.3s ease;
              }
            }
            i {
              margin-left: 15px;
            }
            ul {
              display: none;
              li {
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    &.open {
      pointer-events: auto;
    }
  }
  