/* Body */

body {
    transition: all 0.3s ease;
    position: relative;
    overflow-x: hidden;
    word-break: break-word;
    font-weight: normal;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    font-family: 'Montserrat';
    background-color: $primary;
    padding-top: 108px;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 30px;
        padding-top: 71px;
    }
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 26px;
        padding-top: 61px;
    }
    @include media-breakpoint-down(sm) {

    }
    &.menu-open {
        overflow: hidden;
    }
}

b,
strong {
    font-weight: bold;
}

a,
a:hover,
a:focus {
    transition: all 0.3s ease;
    outline: none;
    box-shadow: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
    word-break: break-word;
}

// main {
//     overflow: hidden;
// }

.overflow-visible {
    overflow: visible;
}


/* Grid */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:hover {
    outline: none;
}
.container {
    padding: 0 200px;
    @media screen and (max-width: 1600px) {
        padding: 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 15px;
    }
}

.container-fluid {
    padding: 0 !important;
    @include media-breakpoint-down(sm) {
        padding: 0 15px !important;
    }
}

.pad-left {
    padding-left: 200px;
    @media screen and (max-width: 1600px) {
        padding: 0 0 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 0 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 0 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

.pad-right {
    padding-right: 200px;
    @media screen and (max-width: 1600px) {
        padding: 0 120px 0 0;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px 0 0px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 50px 0 0px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}


/* section */

section {
    z-index: 2;
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
    @include media-breakpoint-down(lg) {
        padding: $section-padding-medium;
    }
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
}


/* Button */

.t-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 56px;
    background-color: $white;
    color: $primary;
    border: none;
    font-size: 19px;
    overflow: hidden;
    font-weight: normal;
    position: relative;
    padding-left: 0;
    z-index: 1;
    border-radius: 0px;
    transition: all .3s ease;
    border: none;
    text-align: center;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
    }
    @include media-breakpoint-down(md) {
        width: 180px;
        height: 50px;
    }
    @include media-breakpoint-down(sm) {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }

    span {
        z-index: 1;
    }
    
    &:hover {
        color: $white;
        background-color: $secondary;
        transition: all .3s ease;
    }
    &-sky {
        background-color: $primary;
        color: $white;
        &:hover {
            background-color: $white;
            color: $primary;
        }
    }
    &-hover {
        &:hover {
            background-color: $white;
            color: $secondary;
            transition: all .3s ease;
        }
    }
}

.text-button {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 7px;
    color: #fff;
    line-height: 1;
    &:hover {
        border-color: $primary;
        color: $primary;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes slide {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 10px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes wave {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(20, 80, 160, 0.6);
        box-shadow: 0 0 0 0 rgba(20, 80, 160, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(20, 80, 160, 0);
        box-shadow: 0 0 0 20px rgba(20, 80, 160, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(20, 80, 160, 0);
        box-shadow: 0 0 0 0 rgba(20, 80, 160, 0);
    }
}


/* Headlines */

h1,
.h1 {
    font-weight: bold;
    line-height: 1.22;
    font-size: 100px;
    @include media-breakpoint-down(lg) {
        font-size: 80px;
        line-height: 1.3;
    }
    @include media-breakpoint-down(md) {
        font-size: 60px;
        line-height: 1.3;
    }
    @include media-breakpoint-down(sm) {
        font-size: 40px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 36px;
    }
}

h2,
.h2 {
    line-height: 1;
    font-size: 90px;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 50px;
        line-height: 1.2;
    }
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 30px;
    }
}

h3, .h3 {
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 50px;
    }
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 22px;
    }
}

h4, .h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: 1.2;
    }
}

h5, .h5 {
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 28px;
    }
}

p {
    font-size: 25px;
    line-height: 37px;
    font-weight: 300;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 30px;
    }
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 26px;
    }
}


/* Default style */

.vh-100 {
    height: 100vh;
    @include media-breakpoint-down(lg) {
        height: auto !important;
    }
}

.vh-50 {
    height: 50vh;
    @include media-breakpoint-down(md) {
        height: auto !important;
    }
}

.gutters-sm {
    margin: 0 !important;
    [class^='col-'] {
        padding: 0 !important;
    }
    @include media-breakpoint-down(md) {
        margin: 0 -15px !important;
        [class^='col-'] {
            padding: 0 15px !important;
        }
    }
}

.block-para {
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
}

.text-block {
    h2, .h2 {
        margin-bottom: 15px;
        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }
    }
    h3, .h3 {
        margin-bottom: 38px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    
    h5, .h5 {
        margin-bottom: 10px;
    }
    &:nth-last-child() {
        margin-bottom: 0;
    }
    ul {
        margin: 30px 0px 0;
        ul {
            margin: 20px 0;
        }
        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 40px;
            font-size: 17px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 15px;
                padding-left: 30px;
                font-size: 16px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 5px;
            }
            &:last-child {
                margin: 0 0 0;
            }
            &:before {
                position: absolute;
                content: '';
                left: 0px;
                display: block;
                top: 4px;
                width: 13px;
                height: 19px;
                border: solid $red;
                border-width: 0 4px 4px 0;
                transform: rotate(45deg);
                @include media-breakpoint-down(lg) {
                    width: 10px;
                    height: 16px;
                    border-width: 0 3px 3px 0;
                }
            }
        }
    }
    .buttons {
        display: flex;
        margin-top: 45px;
        @include media-breakpoint-down(lg) {
            margin-top: 30px;
        }
        .t-button {
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 15px;
            }
            @include media-breakpoint-down(xs) {
            }
            &:last-child {
                margin-right: 0;
                @include media-breakpoint-down(xs) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.center-block {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.defaults {
    padding: 150px 0 60px;
    line-height: 1;
    @include media-breakpoint-down(lg) {
        padding: 80px 0 50px;
    }
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    h1 {
        margin-bottom: 60px;
        font-size: 90px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
            font-size: 45px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 35px;
            font-size: 36px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }
    span {
        font-size: 40px;
        line-height: 50px;
        @include media-breakpoint-down(lg) {
            font-size: 30px;
            line-height: 1.3;
        }
        @include media-breakpoint-down(md) {
            font-size: 24px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }
    .text-block {
        border-bottom: 1px solid $white;
        padding-bottom: 40px;
        margin-bottom: 60px;
        @include media-breakpoint-down(md) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        h5, .h5 {
            padding-right: 250px;
            @include media-breakpoint-down(lg) {
                padding-right: 150px;
            }
            @include media-breakpoint-down(md) {
                padding-right: 0px;
            }
        }
    }
}
.pr-130 {
    padding-right: 130px;
    @include media-breakpoint-down(lg) { 
        padding-right: 50px;
    }
    @include media-breakpoint-down(md) { 
        padding-right: 0px;
    }
}

.regular>* {
    font-weight: 400;
}

.default-list {
    margin-bottom: 30px;
    a {
        display: block;
        &:hover {
            color: $secondary;
        }
    }
}

.default-block {
    display: flex;
    flex-flow: column;
    @include media-breakpoint-down(sm) {
        &>br {
            display: none;
        }
    }
    h2 {
        margin-bottom: 30px;
        position: relative;
    }
    h5 {
        margin: 0px 0 40px;
        font-weight: bold;
        @include media-breakpoint-down(lg) {
            margin: 0px 0 35px;
        }
        @include media-breakpoint-down(md) {
            margin: 0px 0 35px;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
    p {
        margin-bottom: 50px;
        color: #fff;
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
        b {
            margin-bottom: 15px;
            @include media-breakpoint-down(md) {
                margin-bottom: 5px
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-right {
        p {
            margin-bottom: 35px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 25px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 20px;
            }
        }
    }
    img,
    video {
        width: 100%;
        max-height: 375px;
        @include media-breakpoint-down(sm) {
            margin: 30px 0;
        }
    }
    ul {
        margin: 30px 0px 0;
        ul {
            margin: 20px 0;
        }
        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 40px;
            font-size: 20px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 15px;
                padding-left: 30px;
                font-size: 18px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 5px;
            }
            &:last-child {
                margin: 0 0 0;
            }
            &:before {
                position: absolute;
                content: '';
                left: 0px;
                display: block;
                top: 4px;
                width: 13px;
                height: 19px;
                border: solid $red;
                border-width: 0 4px 4px 0;
                transform: rotate(45deg);
                @include media-breakpoint-down(lg) {
                    width: 10px;
                    height: 16px;
                    border-width: 0 3px 3px 0;
                }
            }
        }
    }
}

.box-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.overlay {
    position: relative;
    z-index: 3;
    &:before {
        content: "";
        background-color: rgba(35, 47, 120, 0.76);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}
.overlay-63 {
    position: relative;
    z-index: 3;
    &:before {
        content: "";
        background-color: rgba(35, 47, 120, 0.63);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}
.back-blue {
    background-color: $secondary;
}

.slick-dots {
    display: flex;
    li {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: $white;
        margin: 0 0px 0 12px;
        cursor: pointer;
        &.slick-active {
            background-color: $secondary;
        }
        button {
            width: 13px;
            height: 13px;
            opacity: 0;
        }
    }
}

.pad-50 {
    padding: 0 45px;
    @include media-breakpoint-down(md) {
        padding: 0 30px;
    }
}

.slick-slide {
    outline: none !important;
}
.fancybox-container {
    z-index: 999999 !important;
}


