.news-text {
    padding: 150px 0 110px;
    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    &-inner {  
        @include media-breakpoint-down(md) {
            line-height: 1;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
        img {
            max-height: 548px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
                max-height: auto;
            }
        }
    }
}