/* Global */

$section-padding: 200px 0;
$section-padding-medium: 80px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: ( sm: 100%, md: 100%, lg: 100%, xl: 100%);
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 1200px, xl: 1400px);

/* Color */

$primary: #00A4DE;
$secondary: #232F78;
$black: #272727;
$green: #ADDB31;
$black:#222222;
$gray: #F0F0F0;
$light-gray: #F4F4F4;

/* Box shadow */
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

/* Font */

$font-family-sans-serif: 'Montserrat';
$font-size-base: 1rem;
$font-size-md: $font-size-base;
$font-size-lg: $font-size-base;
$line-height-base: 1.5;
$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 70px;
$h2-font-size: 44px;
$h3-font-size: 34px;
$link-hover-decoration: none;