

// Bg colors

.bg-white {
    background-color: $white;
}

.bg-dark {
    background-color: $dark-blue;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-dark-gray {
    background-color: $gray;
}

.bg-gray {
    background-color: $light-gray;
}

.bg-gradient {
    background: $gradient;
}