

.pricing {
    z-index: 4;
    .col-lg-3 {
        margin-top: 25px;
    }
    &__single {
        box-shadow: $box-shadow;
        overflow: hidden;
        border-radius: 20px;
        background-color: $white;
        display: flex;
        flex-flow: column;
        height: 100%;
        @include media-breakpoint-down(md) {
            border-radius: 10px;
            height: auto;
        }
    }
    &__heading {
        display: flex;
        justify-content: center;
        padding: 32px 15px;
        @include media-breakpoint-down(md) {
            padding: 20px 15px;
        }
        h3 {
            color: $green;
        }
    }
    &__body {
        padding: 0 15px;
        flex: 1;
        height: 100%;
        display: flex;
        flex-flow: column;
        .price {
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-down(md) {
                min-height: 100%;
                padding: 20px 15px;
            }
            .h2 {
                font-weight: 900;
                color: $secondary;
                margin-right: 15px;
            }
        }
    }
    &__listing {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: 1;
        .single {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px 12px;
            border-bottom: 1px solid $light-gray;
            line-height: 30px;
            min-height: 84px;
            flex: 1;
            @include media-breakpoint-down(md) {
                min-height: 100% !important;
            }
            &:first-child {
                border-top: 1px solid $light-gray;
            }
            &:last-child {
                border-bottom: none;
            }
            span {
                color: $secondary;
                font-weight: bold;
            }
            &-left {
                text-align: left;
                justify-content: flex-start;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                }
                span {
                    flex: 0 0 25px;
                    height: 25px;
                    margin-right: 25px;
                    color: $white;
                    border-radius: 100%;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
        }
    }
    .shape {
        position: absolute;
        left: 15px;
        top: 4%;
        z-index: -1;
        transform: rotate(-76deg);
        @include media-breakpoint-down(xl) {
            left: 15px;
            top: 4%;
        }
        @include media-breakpoint-down(lg) {
            left: auto;
            top: 4%;
            right: -10%;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
        img {
            @include media-breakpoint-down(xl) {
                max-width: 900px;
            }
            @include media-breakpoint-down(lg) {
                max-width: 600px;
            }
            @include media-breakpoint-down(md) {
                max-width: 400px;
            }
            @include media-breakpoint-down(sm) {
                max-width: 300px;
            }
        }
    }
    .circle {
        position: absolute;
    }
    .circle--110 {
        left: 10%;
        top: 3%;
        @include media-breakpoint-down(lg) {
            left: -5%;
            top: -3%;
        }
        @include media-breakpoint-down(md) {
            left: -70px;
            top: -2%;
        }
    }
    .circle--77 {
        right: 12%;
        bottom: 6%;
        @include media-breakpoint-down(lg) {
            right: 3%;
            bottom: 5%;
            z-index: -1;
        }
        @include media-breakpoint-down(md) {
            right: -3%;
            bottom: -10px;
            z-index: -1;
        }
        @include media-breakpoint-down(sm) {
            bottom: -40px;
        }
    }
    .circle--56 {
        left: 16%;
        top: -3%;
        @include media-breakpoint-down(lg) {
            left: 9%;
            top: -3%;
        }
        @include media-breakpoint-down(md) {
            left: 60px;
            top: -2%;
        }
    }
}