.about-counter {
    padding: 0;
    margin: 0;
    &:before {
        display: none;
    }
    .home-about-counter-holder__single {
        &:nth-child(2) {
            i {
                margin-bottom: 10px;
            }
        }
        &:last-child {
            i {
                margin-left: 10px;
            }
        }
    }
}

.info-block-left,
.info-block-right {
    margin-top: 50px;
    @include media-breakpoint-down(lg) {
        margin-top: 30px;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}