.studies {
    padding: 0;
    .container-fluid {
        @include media-breakpoint-down(sm) {
            padding: 0 !important;
        }
    }
    &-single {
        .text-block {
            h2 {
                margin-bottom: 50px;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 30px;
                }
            }
            .block-para {
                margin-bottom: 75px;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 50px;
                }
            }
        }
        &-bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .studies-text {
                color: $blue;
                &:hover {
                    color: $orange;
                }
            }
        }
        &-logo {
            &-holder {
                @include media-breakpoint-down(lg) {
                    max-height: 230px;
                    img {
                        height: 100%;
                    }
                }
                @include media-breakpoint-down(md) {
                    min-height: 350px;
                    align-items: center;
                    max-height: 100%;
                    img {
                        height: auto;
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding: 70px !important;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
        &:nth-child(odd) {
            .row {
                flex-flow: row-reverse;
                align-items: center;
                @include media-breakpoint-down(md) {
                    flex-flow: column;
                }
            }
            .studies-single-logo {
                padding-right: 200px;
                display: flex;
                justify-content: flex-end;
                @media screen and (max-width: 1600px) {
                    padding-right: 135px;
                }
                @include media-breakpoint-down(lg) {
                    padding-right: 80px;
                }
                @include media-breakpoint-down(md) {
                    padding: 50px;
                    justify-content: center;
                }
                @include media-breakpoint-down(sm) {
                    padding: 30px;
                }
                &-holder {
                    padding-right: 65px;
                    display: flex;
                    justify-content: flex-end;
                    @media screen and (max-width: 1600px) {
                        padding-right: 0;
                    }
                    @include media-breakpoint-down(md) {
                        justify-content: center;
                    }
                }
            }
            .studies-single-text {
                padding-left: 200px;
                padding-right: 145px;
                padding-top: 100px;
                padding-bottom: 100px;
                background: $primary;
                color: $white;
                @media screen and (max-width: 1600px) {
                    padding-left: 135px;
                    padding-right: 100px;
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
                @include media-breakpoint-down(lg) {
                    padding-left: 80px;
                    padding-right: 80px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @include media-breakpoint-down(md) {
                    padding: 50px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 30px;
                }
            }
        }
        &:nth-child(even) {
            .row {
                flex-flow: row;
                align-items: center;
                @include media-breakpoint-down(md) {
                    flex-flow: column;
                }
            }
            .studies-single-text {
                padding-right: 200px;
                padding-left: 145px;
                padding-top: 100px;
                padding-bottom: 100px;
                background: $medium-gray;
                @media screen and (max-width: 1600px) {
                    padding-right: 135px;
                    padding-left: 100px;
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
                @include media-breakpoint-down(lg) {
                    padding-right: 80px;
                    padding-left: 80px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @include media-breakpoint-down(md) {
                    padding: 50px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 30px;
                }
            }
            .studies-single-logo {
                padding-left: 200px;
                display: flex;
                justify-content: flex-start;
                @media screen and (max-width: 1600px) {
                    padding-left: 135px;
                }
                @include media-breakpoint-down(lg) {
                    padding-left: 80px;
                }
                @include media-breakpoint-down(md) {
                    padding: 50px;
                    justify-content: center;
                }
                @include media-breakpoint-down(sm) {
                    padding: 30px;
                }
                &-holder {
                    padding-left: 65px;
                    display: flex;
                    justify-content: flex-start;
                    @media screen and (max-width: 1600px) {
                        padding-left: 0;
                    }
                    @include media-breakpoint-down(md) {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.proinfo-case {
    padding: 50px 0;
    .overlay-corner {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .product-information-holder {
        margin-top: 0;
    }
    .testimonial-block {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 100px;
        background-color: rgba(37, 48, 59, .7);
        padding: 50px;
        text-align: center;
        @include media-breakpoint-down(lg) {
            margin-top: 50px;
        }
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
        &-image {
            margin-bottom: 25px;
            width: 170px;
            height: 170px;
            border-radius: 100%;
        }
        h2 {
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 0;
            font-size: 12px;
        }
    }
}

.case-video {
    p {
        line-height: 25px;
    }
    &-box {
        position: relative;
        &-holder {
            height: 668px;
            position: relative;
            z-index: 6;
            margin: 50px 0;
            @include media-breakpoint-down(lg) {
                height: 500px;
            }
            @include media-breakpoint-down(md) {
                height: 400px;
                margin: 30px 0 50px;
            }
            &:after {
                content: '';
                background: rgba(37, 48, 59, .3);
                position: absolute;
                z-index: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &-btn {
                width: 135px;
                height: 135px;
                object-fit: cover;
                position: absolute;
                z-index: 9;
                top: 50%;
                transform: translate(0, -50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background: radial-gradient(ellipse at center, rgba(37, 48, 59, 0.67) 0%, rgba(37, 48, 59, 0) 31%, rgba(37, 48, 59, 0.67) 100%);
                border-radius: 100%;
                @include media-breakpoint-down(md) {
                    width: 100px;
                    height: 100px;
                }
                span {
                    width: 84px;
                    height: 84px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: radial-gradient(ellipse at center, rgba(37, 48, 59, 0.67) 0%, rgba(37, 48, 59, 0) 31%, rgba(37, 48, 59, 0.67) 100%);
                    border-radius: 100%;
                    position: relative;
                    @include media-breakpoint-down(md) {
                        width: 70px;
                        height: 70px;
                    }
                    &:before {
                        content: '';
                        width: 23px;
                        height: 30px;
                        border-width: 15px 0px 15px 23px;
                        border-color: transparent transparent transparent $blue;
                        border-style: solid;
                        margin-left: 6px;
                        @include media-breakpoint-down(md) {
                            width: 23px;
                            height: 30px;
                            border-width: 15px 0px 15px 23px;
                            margin-left: 6px;
                        }
                    }
                    img {
                        width: auto;
                        height: auto;
                    }
                }
                &:hover {
                    span {
                        &:before {
                            border-color: transparent transparent transparent $orange;
                        }
                    }
                }
            }
        }
    }
    .overlay-box {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
        transform: translate(0, -50%);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .download-button {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        padding-left: 30px;
        transition: all .3s ease;
        @include media-breakpoint-down(sm) {
            padding-left: 10px;
        }
        span {
            width: 85px;
            height: 50px;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            margin-left: 30px;
            font-size: 25px;
            @include media-breakpoint-down(sm) {
                margin-left: 10px;
                width: 50px;
                font-size: 20px;
            }
        }
        &:hover {
            transition: all .3s ease;
            background: $primary;
            color: $white;
            span {
                background: $blue;
            }
        }
    }
}