/* Downloads */

.downloads {
  &-single {
    margin: 15px 0;
    display: flex;
    flex-flow: column;
    transition: all .3s ease;
    background-color: $light-gray;
    @include media-breakpoint-down(md) {
        margin-top: 30px;
    }
    img {
        filter: brightness(100) invert(0);
    }
    &:hover {
        .downloads-single-text {
            background: $gray;
            transition: all .3s ease;
            color: $secondary;
            img {
                filter: none;
            }
        }
    }
    &-heading {
        min-height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 30px;
        text-align: center;
        p {
            margin-bottom: 0;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -30px;
            border-width: 15px;
            border-color: $light-gray transparent transparent;
            border-style: solid;
            z-index: 9;
            width: 10px;
        }
    }
    &-text {
        background-color: $secondary;
        min-height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $white;
        p {
            margin: 0;
            font-weight: 600;
        }
    }
}
}