/* Body */

body {
    transition: all 0.3s ease;
    position: relative;
    color: $primary;
    overflow-x: hidden;
    padding-top: 110px;
    word-break: break-word;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: $font-family;
    background-color: $gray-bg;
    @include media-breakpoint-down(lg) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 24px;
        padding-top: 70px;
    }
    &.menu-open {
        overflow: hidden;
    }
}

b,
strong {
    font-weight: bold;
}

a,
a:hover,
a:focus {
    transition: all 0.3s ease;
    outline: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
    word-break: break-word;
}

main {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}


/* Grid */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:hover {
    outline: none;
}

.container {
    padding: 0 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 15px;
    }
}

.container-fluid {
    padding: 0 !important;
    @include media-breakpoint-down(sm) {
        padding: 0 15px !important;
    }
}

.pad-left {
    padding-left: 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 0 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 0 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 0 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

.pad-right {
    padding-right: 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 120px 0 0;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px 0 0px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 50px 0 0px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}


/* section */

section {
    z-index: 2;
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $section-padding;
    @include media-breakpoint-down(lg) {
        padding: $section-padding-medium;
    }
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
}

/* Button */

.button {
    height: 50px;
    min-width: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: all 0.3s ease;
    border-radius: 0;
    color: $primary;
    background-color: transparent;
    border-radius: $border-radius;
    border: solid 1px $primary;
    position: relative;
    z-index: 3;
    @include media-breakpoint-down(lg) {
        padding: 0 10px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 10px;
    }
    @include media-breakpoint-down(sm) {
        height: 45px;
        padding: 0 20px;
        min-width: 200px;
    }
    @include media-breakpoint-down(xs) {
        padding: 0 15px;
    }
    i {
        margin-right: 8px;
    }
    &:before {
        content:'';
        background: $secondary;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .3S ease;
    }
    &:hover {
        background: transparent;
        color: $white;
        border: solid 1px $secondary;
        &:before {
            width: 100%;
            transition: all .3S ease;
        }
    }
}

/* Button Group */

.button-group {
    .button {
        @include media-breakpoint-down(lg) {
            display: flex;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }
        &:first-child {
            margin-right: 30px;
        }
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes slide {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 10px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes wave {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(228, 0, 58, 0.6);
        box-shadow: 0 0 0 0 rgba(228, 0, 58, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(228, 0, 58 , 0);
        box-shadow: 0 0 0 20px rgba(228, 0, 58 , 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(228, 0, 58 , 0);
        box-shadow: 0 0 0 0 rgba(228, 0, 58 , 0);
    }
}


/* Headlines */

h1,
.h1 {
    font-weight: $font-weight-medium;
    line-height: 85px;
    font-size: $h1-font-size;
    @include media-breakpoint-down(lg) {
        font-size: 45px;
        line-height: 1.3;
    }
    @include media-breakpoint-down(md) {
        font-size: 36px;
        line-height: 1.3;
    }
    @include media-breakpoint-down(sm) {
        font-size: 30px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 28px;
    }
}

h2,
.h2 {
    line-height: 55px;
    font-size: $h2-font-size;
    font-weight: $font-weight-medium;
    @include media-breakpoint-down(lg) {
        font-size: 36px;
        line-height: 1.2;
    }
    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 22px;
    }
}

h3, .h3 {
    font-size: 30px;
    line-height: 36px;
    @include media-breakpoint-down(lg) {
        font-size: 26px;
        line-height: 1.3;
    }
    @include media-breakpoint-down(sm) {
        font-size: 24px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 25px;
    line-height: 35px;
    @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: 1.2;
    }
    @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 1.2;
    }
}

h5, .h5 {
    font-size: 20px;
    line-height: 24px;
    @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 22px;
    }
}



p, h6, .h6 {
    font-size: 18px;
    line-height: 33px;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 26px;
    }
}

.image-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    align-items: flex-start;
    @include media-breakpoint-down(md) {
        flex-flow: column;
        margin-bottom: 30px;
    }
    img {
        width: 100%;
        max-height: 485px;
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-down(md) {
            max-height: 450px;
        }
        @include media-breakpoint-down(sm) {
            max-height: 100%;
            height: auto;
        }
    }
    &-single {
        width: calc(50% - 15px);
        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 15px;
        }
        &:first-child {
            margin-top: 60px;
            @include media-breakpoint-down(lg) {
                margin-top: 50px;
            }
            @include media-breakpoint-down(md) {
                margin-top: 00px;
            }
        }
        img {
            width: 100%;
            max-height: 556px;
            height: 100%;
            object-fit: cover;
            @include media-breakpoint-down(lg) {
                max-height: 500px;
            }
            @include media-breakpoint-down(md) {
                max-height: 450px;
            }
            @include media-breakpoint-down(sm) {
                max-height: 100%;
                height: auto;
            }
        }
    }
}

.pattern {
    position: absolute;
    z-index: -1;
    @include media-breakpoint-down(md) {
        display: none;
    }
    &-right {
        right: -140px;
        left: auto;
    }
    &-left {
        left: -140px;
        right: auto;
    }
    &-top {
        top: -92px;
        bottom: auto;
    }
    &-bottom {
        bottom: -92px;
        top: auto;
    }
    &-big {
        &.pattern-top {
            top: -142px;
        }
        &.pattern-right {
            right: -90px;
        }
    }
}

.border-radius{ 
    border-radius: $border-radius;
}
.box-shadow { 
    box-shadow: $box-shadow;
}





/* Default style */

.vh-100 {
    height: 100vh;
    @include media-breakpoint-down(lg) {
        height: auto !important;
    }
}

.vh-50 {
    height: 50vh;
    @include media-breakpoint-down(md) {
        height: auto !important;
    }
}

.gutters-sm {
    margin: 0 !important;
    [class^='col-'] {
        padding: 0 !important;
    }
    @include media-breakpoint-down(md) {
        margin: 0 -15px !important;
        [class^='col-'] {
            padding: 0 15px !important;
        }
    }
}

.block-para {
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
}

.text-block {
    h2, .h2, h5, .h5, h6, .h6 {
        margin-bottom: 70px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    h3, .h3 {
        margin-bottom: 38px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    .text {
        p {
            margin-bottom: 35px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .button {
        margin-top: 40px;
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
    }

    &:nth-last-child() {
        margin-bottom: 0;
    }
    ul {
        margin: 30px 0px 0;
        ul {
            margin: 20px 0;
        }
        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 40px;
            font-size: 17px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 15px;
                padding-left: 30px;
                font-size: 16px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 5px;
            }
            &:last-child {
                margin: 0 0 0;
            }
            &:before {
                position: absolute;
                content: '';
                left: 0px;
                display: block;
                top: 4px;
                width: 13px;
                height: 19px;
                border: solid $secondary;
                border-width: 0 4px 4px 0;
                transform: rotate(45deg);
                @include media-breakpoint-down(lg) {
                    width: 10px;
                    height: 16px;
                    border-width: 0 3px 3px 0;
                }
            }
        }
    }
    .buttons {
        display: flex;
        margin-top: 0px;
        justify-content: center;
        @include media-breakpoint-down(xs) {
            flex-flow: column;
        }
        .button {
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 15px;
            }
            @include media-breakpoint-down(xs) {
                margin-right: 0px;
                margin-bottom: 15px;
            }
            &:last-child {
                margin-right: 0;
                @include media-breakpoint-down(sm) {
                    margin: 0px;
                }
            }
        }
    }
}

.center-block {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.box-shadow {
    box-shadow: $box-shadow;
}

.back-gray {
    background-color: $light-gray;
}
