.image-text {
    .text {
        h2 {
            margin-bottom: 50px;
            @include media-breakpoint-down(xl) {
                margin-bottom: 20px;
            }
        }
        ul {
            li {
                &:before {
                    background-color: $secondary;
                }
            }
        }
        .content {
            max-width: 516px;
        }
    }
    .image {
        position: relative;
        width: 100%;
        @include media-breakpoint-down(lg) {
            padding: 0 50px;
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(md) {
            padding: 0 25px;
        }
        img {
            width: 100%;
            max-height: 741px;
            object-fit: cover;
        }
    }
    &.two-image {
        .image {
            display: flex;
            justify-content: space-between;
            padding: 0;
            @include media-breakpoint-down(md) {
                flex-flow: column;
                margin-bottom: 30px;
            }
            img {
                width: calc(50% - 15px) !important;
                @include media-breakpoint-down(md) {
                    width: calc(100%) !important;
                    margin: 15px 0;
                }
                &:first-child {
                    top: 85px;
                    position: relative;
                    @include media-breakpoint-down(lg) {
                        top: 0px;
                    }
                }
                
            }
        }
        .text {
            margin-top: 85px;
            @include media-breakpoint-down(lg) {
                margin-top: 0px;
            }
        }
    }
    .line-bottom {
        height: 30%;
        width: 2px;
        background-color: $secondary;
        position: absolute;
        top: 0;
        right: 54%;
        z-index: 9;
        @include media-breakpoint-down(lg) {
            display: none;
        }
        &:after {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 100%;
            border: 2px solid $secondary;
            position: absolute;
            left: -8px;
            bottom: -18px;
        }
    }
}

