/* Global */

$section-padding: 100px 0;
$section-padding-medium: 80px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1120px,
  xl: 1480px,
  xxl: 1600px
);

/* Color */

$primary: #222831;
$secondary: #00ADB5;
$black: #212121;
$black_bg: #141414;
$red: #E4003A;
$gray: #F0F0F0;
$light-gray: #F4F4F4;
$dark-gray: #787878;

$border-radius: 5px;

/* Box shadow */
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

/* Font */

$font-family: 'Work Sans';
$font-size-base: 1.125rem;
$font-size-md: $font-size-base * 1.2;
$font-size-lg: $font-size-base * 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;
$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 60px;
$h2-font-size: 45px;
$h3-font-size: 30px;
$link-hover-decoration: none;

/* Animation (Keyframes) */

@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg);
  }
  10% {
      transform: rotate(14.0deg);
  }
  20% {
      transform: rotate(-8.0deg);
  }
  30% {
      transform: rotate(14.0deg);
  }
  40% {
      transform: rotate(-4.0deg);
  }
  50% {
      transform: rotate(10.0deg);
  }
  60% {
      transform: rotate(0.0deg);
  }
  100% {
      transform: rotate(0.0deg);
  }
}

// Font Face 

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Light.woff2') format('woff2'),
        url('../font/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Bold.woff2') format('woff2'),
        url('../font/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.woff2') format('woff2'),
        url('../font/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBold.woff2') format('woff2'),
        url('../font/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Black.woff2') format('woff2'),
        url('../font/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
