/* Home page banner */
.landing-banner_panel {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 125px 0 171px;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(md) {
      padding: 80px 0 80px;
  }
  @include media-breakpoint-down(sm) {
      height: 600px;
      min-height: 500px;
  }

  .container {
      height: 100%;

      .row {
          height: 100%;
      }
  }

  .bottom_curve {
      width: calc(100% + 1.3px);
      height: 48px;
      fill: $white;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 9;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
          height: 24px;
      }
  }
  &::after{
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;
      content: "";
      position: absolute;
      background: rgb(5,42,60);
      background: linear-gradient(90deg, rgba(5,42,60,1) 0%, rgba(0,212,255,0) 100%);
      z-index: -1;

      @include media-breakpoint-down(sm) {
          width: 100%;
      }
  }
  // &:before {
  //     content: "";
  //     display: inline-block;
  //     width: 0;
  //     height: 0;
  //     position:absolute;
  //     bottom: 0;
  //     left:0;
  //     border-style: solid;
  //     border-width: 20px 0 0 300px;
  //     border-color: transparent transparent transparent #6980fe;
  // }

  .breadcrumb-area {
      margin-bottom: auto;

      p {
          color: $white;
          font-size: 12px;
          line-height: 33px;

          a {
              color: $white;
          }
      }
  }

  .landing-banner_text{
      p {
          font-size: 25px;
          font-weight: $font-weight-light;
          color: $white;
          line-height: 1;
          margin-bottom: 25px;

          @include media-breakpoint-down(sm) {
              font-size: 18px;
              margin-bottom: 10px;
          }
      }
      h1 {
          font-size: 60px;
          font-weight: bold;
          text-transform: uppercase;
          color:$white;
          line-height: 70px;
          margin-bottom: 65px;

          @include media-breakpoint-down(md) {
              font-size: 40px;
              line-height: 50px;
              margin-bottom: 70px;
          }
          @include media-breakpoint-down(sm) {
              font-size: 28px;
              line-height: 38px;
          }
      }
  }
}

.company {

  @include media-breakpoint-down(md) {
    padding: $section-padding-medium;
  }
    .image-block {
        margin-left: 33px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
            margin-left: 0;
        }
        img{
            border-radius: 4px;
            box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
        }
    }

    .text-block{
        margin-right: 34px;

        @include media-breakpoint-down(sm) {
            margin-right: 0px;
        }

        .pad-left {
            padding-left: 80px;

            @include media-breakpoint-down(sm) {
                padding-left: 0;
            }
        }

        h2{
            span{
                color:#A4D0E5;
            }
        }
        p{
            color:$menu;
        }
    }
    .bullets {
        margin-top: 30px;
        text-align: center;
        justify-content:flex-start;

        @include media-breakpoint-down(md) {
            justify-content: center;
        }

        span {
            display: inline-block;
            height: 2PX;
            width: 20px;
            background: #515150;
            border-radius:0;
            margin-right: 15px;
            border:none;
            box-shadow: none;
            &.active {
                //border-color:$primary;
                background: $primary;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .bottom_curve {
        width: calc(100% + 1.3px);
        height: 48px;
        fill: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
        pointer-events: none;

        @include media-breakpoint-down(sm) {
            height: 24px;
        }
    }
}

.success-story {
    padding: $section-padding;
    background: $gray94;

    @include media-breakpoint-down(md) {
        padding: $section-padding-medium;
        padding-bottom: 50px;
    }

    h2 {
        margin-bottom: 68px;

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }

    .select-label {
        font-size: 12px;
        font-family: $font-family-roboto;
        color: $menu;
    }
    &-dropdown {
        max-width: 250px;
        display: flex;
        height: 52px;
        margin-bottom: 78px;

        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
    }
    &_box {
        box-shadow: $box-shadow;
        background: $white-smoke;
        border-radius: 0px;
        overflow: hidden;
        
        @include media-breakpoint-down(md) {
          
          display: flex;
          flex-flow: column;
          margin-bottom: 30px;
        }
        .image {
          display: block;
          position: relative;
          height: 191px;
          width: 100%;
          border-radius: 4px 4px 0 0;

          @include media-breakpoint-down(sm) {
            height: auto;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
          }
          span {
            display: inline-flex;
            padding: 0 20px;
            align-items: center;
            justify-content: center;
            background: #A4D0E5;
            color: $white;
            font-size: 16px;
            font-weight: $font-weight-bold;
            border-radius: 4px 0 0 0;
            height: 43px;
            min-width: 129px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .text {
          padding: 50px 30px 30px;
          font-size: 16px;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          @include media-breakpoint-down(md) {
            padding: 20px;
            height: 100%;
          }
          .subtitle {
            font-weight: $font-weight-bold;
            font-size: 12px;
            color: $menu;
            margin-bottom: 24px;
            line-height: 1;  
          }
          .title {
            font-weight: $font-weight-bold;
            font-size: 20px;
            margin-bottom: 22px;
            min-height: 45px;
            @include media-breakpoint-down(lg) {
              font-size: 18px;
              line-height: 22px;
            }
            @include media-breakpoint-down(md) {
              font-size: inherit;
            }
          }
          .content {
            margin-bottom: 20px;
          }
          .desc {
            font-size: 13px;
            line-height: 24px;
            color: $menu;
            margin-bottom: 68px;
            min-height: 120px;
            @include media-breakpoint-down(md) {
              flex: 1;
              margin-bottom: 20px;
              min-height: 100px;
            }
            @include media-breakpoint-down(sm) {
              min-height: auto;
            }
            b,
            strong {
              font-weight: 500;
            }
          }
          .news-btn {
            font-size: 13px;
            line-height: 24px;
            color: $menu;
  
            &:hover {
              color: $primary;
            }
          }
          .button {
            margin-top: 50px;
            text-align: center;
            padding: 9px 55px;
            @include media-breakpoint-down(md) {
              margin-top: 30px;
            }
          }
        }
    }
    .bottom_curve {
        width: calc(100% + 1.3px);
        height: 48px;
        fill: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
        pointer-events: none;

        @include media-breakpoint-down(sm) {
            height: 24px;
        }
    }
}

/* Consulting services */ 
.support-box {
  @include media-breakpoint-down(md) {
    padding: $section-padding-medium;
  }
    .image-block {
        padding-right: 100px;

        @include media-breakpoint-down(md) {
            padding-right: 0;
        }

        img {
            border-radius: 4px;
            box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
        }
    }
    .text-block {
        margin-right: 200px;

        @include media-breakpoint-down(lg) {
            margin-right: 150px;
        }

        @include media-breakpoint-down(md) {
            margin-right: 50px;
        }

        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }

        &.pad-left {
            padding-left: 0;

            @include media-breakpoint-down(md) {
                padding-left: 50px;
            }
    
            @include media-breakpoint-down(sm) {
                padding-left: 0;
            }
        }
        h2 {
            span {
                color:#A4D0E5;
            }
        }
        p {
            color:$menu;
        }
    }   
}

.landing-faqs-block {
    padding: $section-padding;
    background: $gray94;

    @include media-breakpoint-down(md) {
        padding: $section-padding-medium;
    }

    h2 {
        margin-bottom: 77px;

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    &_content {
        p {
            color: $menu;
        }
    }
    .accordion {
        width: 100%;
        text-align: left;
        .cross-icon {
          position: absolute;
          right: 0;
          left: auto;
          top: 26px;
          margin-right: 0px;
          width: 12px;
          height: 12px;
          i {
            color: $secondary;
            &:before {
              font-weight: 900;
            }
          }
          span {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
              content: "";
              width: 12px;
              height: 2px;
              background-color: $primary;
              position: absolute;
              right: 0;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
            }
            &:after {
              content: "";
              width: 2px;
              height: 12px;
              background-color: $primary;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              right: 0;
              top: 0px;
            }
          }
        }
        &-list {
          overflow: hidden;
          margin-bottom: 0px;
          border-bottom: 1px solid $primary;
          position: relative;
          @include media-breakpoint-down(lg) {
          }
          &:last-child {
            margin-bottom: 0;
            //border-bottom: none;
            .accordion-list-head,
            .accordion-list-content {
              border-color: transparent;
            }
          }
          &-head {
            display: flex;
            align-items: center;
            padding: 16px 20px 16px 0;
            cursor: pointer;
            color: $primary;
            &.active {
              border-bottom: none;
              color: $primary;
              .cross-icon {
                //transform: rotate(180deg);
                span {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
          &-content {
            display: none;
            padding: 15px 20px 30px 00px;
            position: relative;
            color: $menu;
            @include media-breakpoint-down(sm) {
              padding: 0px 0px 30px 0px;
            }
            p:last-child {
              margin-bottom: 0;
            }
            img,
            video,
            iframe {
              max-width: 600px;
              margin-top: 30px;
              @include media-breakpoint-down(sm) {
                max-width: 100%;
              }
            }
            a {
              text-decoration: underline;
              &:hover {
                color: $secondary;
              }
            }
          }
        }
    }
    
    .bottom_curve {
        width: calc(100% + 1.3px);
        height: 48px;
        fill: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
        pointer-events: none;
        transform: rotateY(180deg);

        @include media-breakpoint-down(sm) {
            height: 24px;
        }
    }
}