/* Global */

$section-padding: 100px 0;
$section-padding-medium: 70px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1120px,
  xl: 1480px,
  xxl: 1600px
);

/* Color */

$primary: #26597E;
$secondary: #B89535;
$gray: #EDEDED;
$light-gray: #FAFAFA;
$gray44: #707070;
$gray94: #f0f0f0;
$gray91: #E8E8E8;
$gray14: #242424;
$menu: #515150;
$menu-background: rgba(255,255,255,0.65);
$sky: #f8f8f8;
$dark-gray: #3b3b3b;
$white-smoke: #f8f8f8;
$gray88: #e0e0e0;
$charcoal: #454545;
$anthrazit: #1D1F24;
$charleston-green: #282828;
$reno-sand: #B86935;
$mandalay: #B87F35;

$border-radius: 3px;

/* Box shadow */
$box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
$box-shadow-small: 0px 3px 6px rgba(0, 0, 0, 0.15);

/* Font */

$font-family: 'Urbanist';
$font-family-worksans: 'Work Sans';
$font-size-base: 1.25rem;
$font-size-md: $font-size-base * 1.2;
$font-size-lg: $font-size-base * 1.5;
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
$line-height-base: 1.5;
$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 70px;
$h2-font-size: 45px;
$h3-font-size: 25px;
$link-hover-decoration: none;

/* Animation (Keyframes) */

@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg);
  }
  10% {
      transform: rotate(14.0deg);
  }
  20% {
      transform: rotate(-8.0deg);
  }
  30% {
      transform: rotate(14.0deg);
  }
  40% {
      transform: rotate(-4.0deg);
  }
  50% {
      transform: rotate(10.0deg);
  }
  60% {
      transform: rotate(0.0deg);
  }
  100% {
      transform: rotate(0.0deg);
  }
}

// Font Face 
@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Black.woff2') format('woff2'),
        url('../font/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ExtraLight.woff2') format('woff2'),
        url('../font/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Medium.woff2') format('woff2'),
        url('../font/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ExtraBold.woff2') format('woff2'),
        url('../font/WorkSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Bold.woff2') format('woff2'),
        url('../font/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Light.woff2') format('woff2'),
        url('../font/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.woff2') format('woff2'),
        url('../font/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBold.woff2') format('woff2'),
        url('../font/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Thin.woff2') format('woff2'),
        url('../font/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Medium.woff2') format('woff2'),
        url('../font/Urbanist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-ExtraLight.woff2') format('woff2'),
        url('../font/Urbanist-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-ExtraBold.woff2') format('woff2'),
        url('../font/Urbanist-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Light.woff2') format('woff2'),
        url('../font/Urbanist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Bold.woff2') format('woff2'),
        url('../font/Urbanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Black.woff2') format('woff2'),
        url('../font/Urbanist-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Thin.woff2') format('woff2'),
        url('../font/Urbanist-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-SemiBold.woff2') format('woff2'),
        url('../font/Urbanist-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Regular.woff2') format('woff2'),
        url('../font/Urbanist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}