// Bg colors

.bg-white {
    background-color: $white;
}
.bg-primary {
    background-color: $primary;
}
.bg-light-gray {
    background-color: $light-gray;
}
.bg-gray {
    background-color: $gray;
}
.bg-dark-gray {
    background-color: #E9E8E7;
}
