
// Custom Margin & Paddings

.mt-75 {
    margin-top: 75px !important;
    @include media-breakpoint-down(xl) {
        margin-top: 50px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 30px !important;
    }
}
.mb-75 {
    margin-bottom: 75px !important;
    @include media-breakpoint-down(xl) {
        margin-bottom: 50px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px !important;
    }
}

.mt-65 {
    margin-top: 65px !important;
    @include media-breakpoint-down(xl) {
        margin-top: 50px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 30px !important;
    }
}
.mb-65 {
    margin-bottom: 65px !important;
    @include media-breakpoint-down(xl) {
        margin-bottom: 50px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px !important;
    }
}

.mt-50 {
    margin-top: 50px !important;
    @include media-breakpoint-down(xl) {
        margin-top: 40px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 30px !important;
    }
}
.mb-50 {
    margin-bottom: 50px !important;
    @include media-breakpoint-down(xl) {
        margin-bottom: 40px !important;
    }
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px !important;
    }
}

.mb-40 {
    margin-bottom: 40px !important;
    @include media-breakpoint-down(xl) {
        margin-bottom: 30px !important;
    }
}

.mb-30 {
    margin-bottom: 30px !important;
}
.mt-30 {
    margin-top: 30px !important;
}


.pt-hero {
    padding-top: 240px !important;
    @include media-breakpoint-down(xl) {
        padding-top: 150px !important;
    }
    @include media-breakpoint-down(lg) {
        padding-top: 110px !important;
    }
}
