.image-text {
    padding: $section-padding;
    @include media-breakpoint-down(lg) {
        padding: $section-padding-medium;
    }
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
    .text {
        @include media-breakpoint-down(lg) {
            margin-top: 30px;
        }
        h3 {
            margin-bottom: 10px;
        }
        h4 {
            font-weight: $font-weight-light;
            margin-bottom: 0;
            b {
                font-weight: $font-weight-medium;
            }
        }
    }
    .image {
        width: 100%;
        img {
            max-height: 600px;
            width: 100%;
        }
    }
}
