/* Body */

body {
    transition: all 0.3s ease;
    position: relative;
    color: $primary;
    overflow-x: hidden;
    padding-top: 0px;
    word-break: break-word;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    font-family: $font-family;
    background-color: $white;
    padding-top: 110px;
    @include media-breakpoint-down(lg) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 28px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
    &.menu-open {
        overflow: hidden;
    }
}

b,
strong {
    font-weight: bold;
}

a,
a:hover,
a:focus {
    transition: all 0.3s ease;
    outline: none;
    box-shadow: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
    word-break: break-word;
}

// main {
//     overflow: hidden;
// }

.overflow-visible {
    overflow: visible;
}

img {
    max-width: 100%;
}

/* Grid */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:hover {
    outline: none;
}

.container {
    padding: 0 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 15px;
    }
}

.container-fluid {
    padding: 0 !important;
    @include media-breakpoint-down(md) {
        padding: 0 50px !important;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 15px !important;
    }
}

.pad-left {
    padding-left: 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 0 0 120px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 0 0 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 0 0 0px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 0 0;
    }
}

.pad-right {
    padding-right: 200px;
    @include media-breakpoint-down(xl) {
        padding: 0 120px 0 0;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 80px 0 0px;
    }
    @include media-breakpoint-down(md) {
        padding: 0px 0 0px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 0 0;
    }
}


/* section */

section {
    z-index: 2;
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $section-padding;
    @include media-breakpoint-down(lg) {
        padding: $section-padding-medium;
    }
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
}

/* Button */

.button {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 0;
    font-size: 18px;
    border-radius: 100%;
    position: relative;
    z-index: 9;
    overflow: hidden;
    border-radius: 34px;
    line-height: 1;
    @include media-breakpoint-down(lg) {
        padding: 12px 30px;
    }
    @include media-breakpoint-down(sm) {
        padding: 10px 20px;
        font-size: 14px;
    }
    i {
        font-size: 36px;
        margin-left: 20px;
        color: $secondary;
        transition: all .3s ease;
    }
    &:before {
        content: '';
        background: $secondary;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 60px;
        height: 100%;
        border-radius: 34px;
        transition: all .3s ease;
        @include media-breakpoint-down(sm) {
            width: 56px;
        }
    }
    &:hover {
        &:before {
            width: 100% !important;
            transition: all .3s ease;
        }
        i {
            color: $white;
            transition: all .3s ease;
        }
    }
    &-small {
        height: 30px;
        font-size: 13px;
        line-height: 1;
        padding-left: 15px;
        padding-right: 15px;
        i {
            font-size: 26px;
        }
        &:before {
            width: 30px !important;
        }
        &:hover {
            &:before {
                width: 100% !important;
            }
        }
    }
    &-square {
        border-radius: 4px;
        background-color: $secondary;
        height: 62px;
        &:before {
            display: none;
        }
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

}

/* Button Group */

.button-group {
    .button {
        @include media-breakpoint-down(lg) {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }
        &:first-child {
            margin-right: 30px;
        }
    }
}


/* Headlines */

h1,
.h1,
h2,
.h2 {
    font-weight: bold;
    line-height: 40px;
    font-size: 35px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 30px;
        line-height: 1.2;
    }
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 26px;
    }
}

h3, .h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 24px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 22px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 1.2;
    }
}

h5, .h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 22px;
    }
}

h6, .h6 {
    font-size: 18px;
    line-height: 33px;
    font-weight: 300;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

p {
    font-size: 18px;
    line-height: 33px;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 26px;
    }
    br {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.image-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    align-items: flex-start;
    @include media-breakpoint-down(md) {
        flex-flow: column;
        margin-bottom: 30px;
    }
    img {
        width: 100%;
        max-height: 485px;
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-down(md) {
            max-height: 450px;
        }
        @include media-breakpoint-down(sm) {
            max-height: 100%;
            height: auto;
        }
    }
    &-single {
        width: calc(50% - 15px);
        @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 15px;
        }
        &:first-child {
            margin-top: 60px;
            @include media-breakpoint-down(lg) {
                margin-top: 50px;
            }
            @include media-breakpoint-down(md) {
                margin-top: 00px;
            }
        }
        img {
            width: 100%;
            max-height: 556px;
            height: 100%;
            object-fit: cover;
            @include media-breakpoint-down(lg) {
                max-height: 500px;
            }
            @include media-breakpoint-down(md) {
                max-height: 450px;
            }
            @include media-breakpoint-down(sm) {
                max-height: 100%;
                height: auto;
            }
        }
    }
}


/* Default style */

.vh-100 {
    height: 100vh;
    @include media-breakpoint-down(lg) {
        height: auto !important;
    }
}

.vh-50 {
    height: 50vh;
    @include media-breakpoint-down(md) {
        height: auto !important;
    }
}

.gutters-sm {
    margin: 0 !important;
    [class^='col-'] {
        padding: 0 !important;
    }
    @include media-breakpoint-down(md) {
        margin: 0 -15px !important;
        [class^='col-'] {
            padding: 0 15px !important;
        }
    }
}

.block-para {
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
}

.text-block {
    h2, .h2, h5, .h5 {
        margin-bottom: 30px;
    }
    h3, .h3 {
        margin-bottom: 38px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    h6, .h6 {
        margin-bottom: 10px;
    }
    .para {
        p {
            margin-bottom: 35px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .button {
        margin-top: 50px;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
    }

    &:nth-last-child() {
        margin-bottom: 0;
    }
    ul {
        margin: 30px 0px 0;
        ul {
            margin: 20px 0;
        }
        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 30px;
            font-size: 18px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 15px;
                padding-left: 30px;
                font-size: 16px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 5px;
            }
            &:last-child {
                margin: 0 0 0;
            }
            &:before {
                position: absolute;
                content: '';
                left: 0px;
                display: block;
                top: 12px;
                width: 10px;
                height: 10px;
                background-color: $secondary;
                border: none;
                border-radius: 100%;
                @include media-breakpoint-down(lg) {
                }
            }
        }
    }
    &.ul-style-tick {
        ul {
            li {
                padding-left: 30px;
                &:before {
                    position: absolute;
                    content: '';
                    left: 0px;
                    display: block;
                    top: 6px;
                    width: 9px;
                    height: 13px;
                    border: solid $secondary;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    background: transparent;
                    border-radius: 0;
                    @include media-breakpoint-down(lg) {
                        width: 10px;
                        height: 16px;
                        border-width: 0 3px 3px 0;
                    }
                }
            }
        }
    }
    .buttons {
        display: flex;
        margin-top: 0px;
        justify-content: center;
        @include media-breakpoint-down(xs) {
            flex-flow: column;
            align-items: center;
        }
        .button {
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 15px;
            }
            @include media-breakpoint-down(xs) {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
                @include media-breakpoint-down(xs) {
                    margin-bottom: 0;
                    margin-top: 15px;
                }
            }
        }
    }
}

.center-block {
    display: flex;
    flex-flow: column;
    align-items: center;
}


.mb-100 {
    margin-bottom: 100px;
    @include media-breakpoint-down(md) { 
        margin-bottom: 50px;
    }
    @include media-breakpoint-down(sm) { 
        margin-bottom: 30px;
    }
}
.mt-180 {
    margin-top: 180px;
    @include media-breakpoint-down(lg) { 
        margin-top: 100px;
    }
    @include media-breakpoint-down(md) { 
        margin-top: 0px;
    }
}

.ml-100 {
    margin-left: 100px;
    @include media-breakpoint-down(md) { 
        margin-left: 0px;
    }
}

.regular>* {
    font-weight: 400;
}

.box-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.mask {
    position: relative;
    z-index: 3;
    &:before {
        content: "";
        background-color: #232323;
        mix-blend-mode: multiply;
        opacity: .5;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &-45 {
        &:before {
            opacity: .45;
        }
    }
}

.mask-gradient {
    &:before {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 150%);
        opacity: .75;
    }
    
}

.back-gray {
    background: $grey;
}
.back-gray-light {
    background: $light-grey;
}
// Slider bullets

.bullets {
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        display: inline-block;
        height: 10px;
        width: 10px;
        background: $white;
        border-radius: 50%;
        margin-right: 15px;
        box-sizing: content-box;
        box-shadow: 0 0px 0px 2px $primary;
        border: solid 3px $primary;
        &.active {
            border-color: $secondary;
            background: $white;
            box-shadow: 0 0px 0px 2px $secondary;
            border: solid 3px $primary;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    @include media-breakpoint-down(md) { 
        margin-top: 30px;
    }
    @include media-breakpoint-down(sm) { 
        margin-top: 15px;
    }
    li {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #E2E2E2;
        margin: 0 0px 0 7px;
        cursor: pointer;
        border: 5px solid $white;
        box-sizing: content-box;
        &.slick-active {
            background-color: $white;
            border: 5px solid $secondary;
        }
        button {
            width: 13px;
            height: 13px;
            opacity: 0;
        }
    }
}

.pad-50 {
    padding: 0 45px;
    @include media-breakpoint-down(md) {
        padding: 0 30px;
    }
}

.slick-slide {
    outline: none !important;
}


.line {
    &-before {
        position: relative;
        padding-left: 130px;
        @include media-breakpoint-down(md) {
            padding-left: 0px;
        }
        &:after {
            content: '';
            background: $secondary;
            width: 100px;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 3px;
            margin-left: 0px;
            @include media-breakpoint-down(md) {
                width: 50px;
                left: auto;
                margin-left: 30px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 15px;
            }
        }
    }
    &-after {
        position: relative;
        &:after {
            content: '';
            background: $secondary;
            width: 100px;
            height: 1px;
            position: absolute;
            bottom: 3px;
            margin-left: 30px;
            @include media-breakpoint-down(md) {
                width: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 15px;
            }
        }
    }
}

