.footer {
    padding: 120px 0 60px;
    position: relative;
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    &-logo {
        margin-bottom: 75px;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
        img {
            max-height: 64px;
            @include media-breakpoint-down(xl) {
                height: 40px;
            }
            @include media-breakpoint-down(md) {
                height: 35px;
            }
        }
    }
    &-main {
        position: relative;
        &:before {
            content: '';
            width: calc(100% - 120px);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 auto;
            height: 1px;
            background-color: $primary;
            @include media-breakpoint-down(lg) {
                width: calc(100% - 100px);
            }
            @include media-breakpoint-down(md) {
                width: calc(100% - 60px);
            }
            @include media-breakpoint-down(sm) {
                width: calc(100% - 15px);
            }
        }
    }
    &-block {
        padding-top: 40px;
        @include media-breakpoint-down(sm) {
            padding-top: 30px;
        }
        address {
            margin: 0px 0 30px
        }
        a {
            display: flex;
        }
        .social {
            display: flex;
            a {
                color: $primary;
                display: flex;
                margin-right: 40px;
                &:hover {
                    color: $secondary;
                }
            }
        }
        .icons {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 70px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
                justify-content: flex-start;
            }
            a {
                margin-left: 12px;
                &:first-child {
                    margin-left: 0px;
                }
                img {
                    @include media-breakpoint-down(lg) {
                        width: 45px;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 35px;
                    }
                }
            }
        }
        .newsletter {
            text-decoration: underline;
        }
        a {
            color: $primary;
        }
    }
    &-heading {
        font-weight: bold;
        margin-bottom: 35px;
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
        &-right {
            text-align: right;
            @include media-breakpoint-down(md) {
                text-align: left;
            }
        }
    }
    &-bottom {
        color: $primary;
        margin-top: 75px;
        @include media-breakpoint-down(md) {
            margin-top: 50px;
        }
        .text-block {
            @include media-breakpoint-down(md) {
                justify-content: center;
                display: flex;
            }
            p {
                margin-bottom: 0;
                font-size: 12px;
                a {
                    color: $primary;
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
        &-menu {
            display: flex;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
                justify-content: center;
                margin-bottom: 10px;
            }
            a {
                color: $primary;
                line-height: 1;
                &:hover {
                    color: $secondary;
                }
                &:nth-last-child(2) {
                    border-right: 1px solid $primary;
                    margin-right: 7px;
                    padding-right: 7px;
                }
            }
        }
    }
}
.pl-50 {
    padding-left: 50px;
    position: relative;
    @include media-breakpoint-down(md) {
        padding-left: 0px;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 180px;
        width: 1px;
        background: $primary;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    
}