/* Global */

$section-padding: 150px 0;
$section-padding-medium: 80px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1199px,
  xl: 1480px,
  xxl: 1600px
);

/* Color */

$primary: #222222;
$secondary: #FA9700;
$gray: #F0F0F0;
$light-gray: #F8F8F8;
$border-radius: 4px;

/* Box shadow */
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

/* Font */

$font-family: 'Montserrat';
$font-size-base: 1.125rem;
$font-size-md: $font-size-base * 1.2;
$font-size-lg: $font-size-base * 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;
$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 60px;
$h2-font-size: 45px;
$h3-font-size: 30px;
$link-hover-decoration: none;

// Font Face 

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee-Regular.woff2') format('woff2'),
        url('../fonts/Bungee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


