@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Medium.woff2') format('woff2'),
        url('../fonts/Kanit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.woff2') format('woff2'),
        url('../fonts/Kanit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.woff2') format('woff2'),
        url('../fonts/Kanit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.woff2') format('woff2'),
        url('../fonts/Kanit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@import "variables";
@import "bootstrap/bootstrap.scss";
@import "global";
@import "fonts";
@import "header";
@import "footer";
@import "home";
@import "keyframe";
@import "blog";
@import "default";
@import "ildealline";
@import "bahn";
@import "karts";
@import "highscore";
@import "angebote";
@import "event";
@import "galerie";
@import "kontakt";
