/* Home Banner */

.banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-bottom: 70px;
    @include media-breakpoint-down(lg) {
        height: 600px;
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }
    button {
        @include media-breakpoint-down(xs) {
            height: 45px;
            font-size: 16px;
            width: 120px;
        }
    }
    .text-block .heading {
        z-index: 3;
    }
    &:before {
        content: '';
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4682247899159664) 0%, rgba(0, 0, 0, 0) 67%);
        height: 250px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 70%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4682247899159664) 0%, rgba(0, 0, 0, 0) 70%);
    }
    .banner-caption {
        .text-block {
            max-width: 485px;
            position: relative;
        }
        .arrow {
            bottom: 50px;
            right: -50px;
        }
    }
    &-home {
        padding: 0 0 80px;
        height: 100vh;
        @include media-breakpoint-down(lg) {
            padding: 0 0 50px;
        }
        @include media-breakpoint-down(md) {
            min-height: 700px;
            height: auto;
        }
        @include media-breakpoint-down(sm) {
            min-height: 600px;
        }
        .banner-video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            video,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .block-para {
            margin-bottom: 75px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 50px;
            }
            p {
                font-size: 20px;
                font-weight: 400;
                @include media-breakpoint-down(lg) {
                    font-size: 18px;
                }
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }
            }
        }
    }
    .banner-caption {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding: 0px;
        width: 100%;
        position: relative;
        h2 {
            color: $white;
            font-size: 50px;
            font-weight: 400;
            margin-bottom: 15px;
            @include media-breakpoint-down(lg) {
                font-size: 30px;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
        }
    }
}

.welcome {
    &-one {
        padding: 100px 0;
        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }
        @include media-breakpoint-down(md) {
            padding: 50px 0;
        }
        .arrow {
            bottom: 0px;
            left: 0px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        .heading {
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
        }
        &-content {
            margin-top: 0px;
            position: relative;
            padding: 0;
            .block-image {
                margin-top: -100px;
                position: relative;
                z-index: -1;
                margin-bottom: 120px;
                @include media-breakpoint-down(md) {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
            .text-block {
                padding: 75px 0;
                @include media-breakpoint-down(md) {
                    padding: 50px 0 0;
                }
            }
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 75%;
                height: 100%;
                z-index: -1;
                background-color: $gray;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }
    &-two {
        padding: 0px 0 100px;
        overflow: visible;
        @include media-breakpoint-down(lg) {
            padding: 0px 0 80px;
        }
        @include media-breakpoint-down(md) {
            padding: 0px 0 0px;
        }
        .heading {
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
        }
        .arrow {
            bottom: 0px;
            left: -70px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        .text-block {
            @include media-breakpoint-down(md) {
                justify-content: flex-start !important;
            }
        }
        &-content {
            margin-top: -100px;
            position: relative;
            @include media-breakpoint-down(md) {
                margin-top: 0px;
            }
            .block-image {
                margin-top: 0;
                position: absolute;
                z-index: -1;
                bottom: -100px;
                @include media-breakpoint-down(md) {
                    bottom: 0px;
                    position: relative;
                }
            }
            .text-block {
                padding: 75px 0;
                @include media-breakpoint-down(md) {
                    padding: 50px 0 0;
                    margin-bottom: 0px;
                }
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 75%;
                height: 100%;
                z-index: -1;
                background-color: $gray;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }
}

.partner {
    .heading {
        h2 {
            margin-bottom: 75px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
            }
            &:before {
                width: 100%;
            }
        }
    }
    &-block {
        h4 {
            &:before {
                width: 100%;
            }
            @include media-breakpoint-down(xs) {
                font-size: 17px;
            }
        }
        &:last-child {
            .partner-holder {
                border-bottom: none;
                margin-bottom: 0px;
            }
        }
    }
    &-holder {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $dark-gray;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            flex-flow: column;
            padding-bottom: 30px;
        }
        &-single {
            width: 33.33%;
            margin-bottom: 50px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-down(sm) {
                width: 100%;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(7) {
                justify-content: flex-start;
            }
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(9) {
                justify-content: flex-end;
                @include media-breakpoint-down(sm) {
                    justify-content: flex-start;
                }
            }
            img {
                max-width: 320px;
                @media screen and (max-width: 1600px) {
                    max-width: 300px;
                }
                @include media-breakpoint-down(lg) {
                    max-width: 250px;
                }
                @media screen and (max-width: 991px) {
                    max-width: 250px;
                }
            }
            &-text {
                font-size: 22px;
                @include media-breakpoint-down(md) {
                    font-size: 20px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                }
            }
        }
    }
}

.image-section {
    &-reverse {
        .image-section-holder {
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
                justify-content: flex-start;
            }
        }
        .image-section-holder-left {
            height: 418px;
            width: 50%;
            position: absolute;
            z-index: 9;
            left: 0;
            bottom: 0px;
            @include media-breakpoint-down(md) {
                height: auto;
                position: relative;
                width: 100%;
                margin-bottom: 30px;
            }
        }
        .image-section-holder-right {
            height: 490px;
            width: 58.333%;
            position: relative;
            @include media-breakpoint-down(md) {
                height: auto;
                width: 100%;
            }
        }
        .button {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
        }
    }
    &-holder {
        padding-bottom: 173px;
        display: flex;
        @include media-breakpoint-down(md) {
            padding-bottom: 0px;
            flex-flow: column;
        }
        &-left {
            height: 490px;
            width: 58.333%;
            position: relative;
            @include media-breakpoint-down(md) {
                height: auto;
                position: relative;
                width: 100%;
                margin-bottom: 30px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .arrow {
                right: -45px;
            }
        }
        &-right {
            height: 418px;
            width: 50%;
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0px;
            @include media-breakpoint-down(md) {
                height: auto;
                width: 100%;
                position: relative;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.welcome-one-three {
    margin-top: -30px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
}

.download {
    .heading {
        margin-bottom: 115px;
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
    &-single {
        box-shadow: 0 0 22px rgba(0, 0, 0, .13);
        position: relative;
        &-image {
            @include media-breakpoint-down(md) {
                margin: 30px 0;
            }
            img {
                width: 100%;
            }
        }
        &-button {
            position: absolute;
            left: -15px;
            bottom: -20px;
            background: $back-gray;
            width: 58px;
            height: 58px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(md) {
                left: 0px;
            }
            &:hover {
                background: $secondary;
                img {
                    filter: brightness(100) invert(0);
                }
            }
        }
    }
}

.text-expand {
    @include media-breakpoint-down(md) {
        padding-bottom: 80px;
    }
    .block-para {
        position: relative;
        max-height: 135px;
        min-height: 135px;
        overflow: hidden;
        // @include media-breakpoint-down(md) {
        //     max-height: 100%;
        //     min-height: 100%;
        // }
        &:after {
            content: '';
            position: absolute;
            z-index: 9;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 110px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 1) 100%);
            // @include media-breakpoint-down(md) {
            //     display: none;
            // }
        }
        &.open-block {
            max-height: 100%;
            &:after {
                height: 0;
            }
        }
    }
    .expand {
        bottom: 0;
        display: block !important;
        // @include media-breakpoint-down(md) {
        //     display: none;
        // }
        &-open {
            bottom: -60px;
            transform: rotate(180deg);
        }
    }
}

.slider {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    @include media-breakpoint-down(lg) {
        height: 800px;
    }
    @include media-breakpoint-down(md) {
        height: 750px;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
    }
    &-tab {
        position: absolute;
        bottom: 160px;
        z-index: 9;
        width: 100%;
        @include media-breakpoint-down(md) {
            top: 460px;
        }
        @include media-breakpoint-down(sm) {
            top: 480px;
        }
    }
    &-list {
        display: flex;
        align-items: flex-end;
        @include media-breakpoint-down(md) {
            justify-content: center;
        }
        &-single {
            position: relative;
            padding-bottom: 40px;
            flex: 1;
            @include media-breakpoint-down(sm) {
                padding-bottom: 20px;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
            &:last-child {
                &::before {
                    width: 100%;
                    right: auto;
                    left: 50%;
                }
            }
            .dots {
                width: 30px;
                height: 30px;
                background-color: $white;
                border-radius: 100%;
                cursor: pointer;
                bottom: 0;
                left: 0;
                position: absolute;
                @include media-breakpoint-down(sm) {
                    width: 20px;
                    height: 20px;
                    right: 0;
                    margin: 0 auto;
                }
                @include media-breakpoint-down(xs) {
                    width: 15px;
                    height: 15px;
                    right: 0;
                    margin: 0 auto;
                    bottom: 2px;
                }
            }
            &:before {
                content: '';
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: 13px;
                background-color: $white;
                @include media-breakpoint-down(sm) {
                    height: 2px;
                    bottom: 9px;
                    left: 50%;
                }
            }
            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3) {
                .slider-list-content {
                    @include media-breakpoint-down(sm) {
                        left: auto !important;
                        right: 40%;
                        text-align: right !important;
                    }
                }
            }
            .slider-list-content {
                opacity: 0;
                max-width: 100%;
                @include media-breakpoint-down(sm) {
                    display: block;
                    position: absolute;
                    top: 0;
                    transform: translate(0px, -100%);
                    text-align: center;
                    left: 0;
                    right: 0;
                    h4 {
                        font-size: 15px;
                    }
                    p {
                        font-size: 11px;
                        line-height: 1.1;
                    }
                }
            }
            &.prev {
                &:before {
                    background: $secondary;
                }
                .dots {
                    background-color: $secondary;
                }
            }
            &.selected {
                .slider-list-content {
                    opacity: 1;
                    // min-width: 300px;
                    @include media-breakpoint-down(sm) {
                        left: 40%;
                        // min-width: 140px;
                        text-align: left;
                    }
                }
                .dots {
                    background-color: $secondary;
                }
            }
        }
        .next {
            .dots {
                animation: wave 2s infinite;
            }
        }
    }
    &-content {
        position: relative;
        width: 100%;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
            height: 50%;
            width: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4682247899159664) 0%, rgba(0, 0, 0, 0) 70%);
        }
        &-single {
            display: block;
            opacity: 0;
            transition: opacity 1s ease;
            height: 100%;
            width: 100%;
            padding: 100px;
            position: absolute;
            top: 0;
            left: 0;
            @include media-breakpoint-down(md) {
                padding: 50px;
            }
            @include media-breakpoint-down(sm) {
                padding: 30px;
                position: relative;
                display: none;
            }
            &.active {
                opacity: 1;
                transition: opacity 1s ease;
                z-index: 1;
                @include media-breakpoint-down(sm) {
                    display: flex;
                    flex-flow: column;
                    padding: 0;
                }
            }
            &-text {
                background-color: rgba(0, 0, 0, .6);
                padding: 50px 75px 50px;
                max-width: 715px;
                position: relative;
                z-index: 6;
                color: $white;
                @include media-breakpoint-down(md) {
                    padding: 50px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 30px;
                    max-width: 100%;
                }
            }
            .sliders {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                @include media-breakpoint-down(sm) {
                    position: relative;
                }
                .slick-slider,
                .slick-list,
                .slick-track,
                .slick-slide {
                    width: 100%;
                    height: 100%;
                    outline: none !important;
                    box-shadow: none !important;
                }
                .sliders-holder {
                    width: 100%;
                    &-single {
                        height: 100%;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            z-index: 0;
                            height: 90%;
                            width: 100%;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.482247899159664) 0%, rgba(0, 0, 0, 0) 70%);
                        }
                        @include media-breakpoint-down(sm) {
                            height: 600px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .sliders-holder-arrow {
                display: none;
                position: absolute;
                bottom: 30px;
                width: 400px;
                left: 0;
                right: 0;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                padding: 0 0px;
                font-size: 30px;
                color: $white;
                @include media-breakpoint-down(sm) {
                    width: 300px;
                    bottom: 540px;
                }
                .slick-arrow {
                    cursor: pointer;
                    cursor: pointer;
                    background: rgba(0, 0, 0, .5);
                    padding: 15px;
                    font-size: 24px;
                    border-radius: 3px;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 18px;
                        padding: 10px;
                    }
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
    }
}


/* Home Contact */

.home-contact {
    display: flex;
    align-items: center;
    padding: 50px 0 150px;
    @include media-breakpoint-down(lg) {
        padding: 50px 0 100px;
    }
    @include media-breakpoint-down(md) {
        padding: 0px 0 50px;
    }
    &-holder {
        position: relative;
        padding-top: 100px;
        @include media-breakpoint-down(md) {
            padding: 0
        }
    }
    .form-holder {
        background: $gray;
        padding: 100px 210px 50px 100px;
        width: 70%;
        position: relative;
        @include media-breakpoint-down(lg) {
            padding: 80px 160px 50px 80px;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 50px;
        }
        @include media-breakpoint-down(sm) {
            padding: 30px;
        }
        .block-para {
            margin-bottom: 50px;
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
    }
    &-image {
        height: 586px;
        width: 39%;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0px;
        @include media-breakpoint-down(lg) {
            height: 500px;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.donate {
    background: $gray;
    padding: 157px 0;
    @include media-breakpoint-down(lg) {
        padding: 100px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    position: relative;
    &-holder {
        padding-top: 157px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        @include media-breakpoint-down(lg) {
            padding-top: 100px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 0px;
            justify-content: flex-start;
            flex-flow: column;
        }
        &-image {
            height: 580px;
            width: 40%;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0px;
            @include media-breakpoint-down(lg) {
                height: 500px;
            }
            @include media-breakpoint-down(md) {
                height: 400px;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                height: auto;
                margin-bottom: 30px;
                position: relative;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-text {
            background: $white;
            padding: 100px 140px 100px;
            width: 70%;
            position: relative;
            z-index: 3;
            display: flex;
            flex-flow: column;
            align-items: center;
            @include media-breakpoint-down(lg) {
                padding: 80px 100px 80px;
            }
            @include media-breakpoint-down(md) {
                padding: 50px;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                padding: 30px;
            }
            .button {
                margin-top: 50px;
                @include media-breakpoint-down(lg) {
                    margin-top: 30px;
                }
            }
        }
    }
}


/* Form */

.form-group {
    margin: 0;
    position: relative;
    br {
        display: none;
    }
    .ajax-loader {
        display: none !important;
    }
    input[type='text'],
    input[type='email'] {
        height: 45px;
        width: 100%;
        background: transparent !important;
        border: 1px solid rgba(38, 37, 37, .8) !important;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
        color: $primary !important;
        outline: none !important;
        border-radius: 0;
        box-shadow: none !important;
        &:hover,
        &:focus {
            border: none;
            outline: none;
        }
        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
        @include media-breakpoint-down(sm) {}
    }
    .wpcf7-form-control-wrap {
        &:last-child {
            input {
                margin-bottom: 0;
            }
        }
    }
    textarea {
        height: 145px;
        width: 100%;
        background: transparent !important;
        border: 1px solid $primary !important;
        color: $primary !important;
        outline: none !important;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0px;
        border-radius: 0;
        padding: 15px 10px;
        @include media-breakpoint-down(lg) {
            height: 120px;
        }
        @include media-breakpoint-down(xs) {
            height: 100px;
        }
    }
    .submit-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 63px;
        color: $primary;
        background-color: $secondary;
        font-size: 18px;
        overflow: hidden;
        font-weight: bold;
        position: relative;
        text-transform: uppercase;
        transform: skew(-15deg);
        margin-top: 50px;
        @include media-breakpoint-down(md) {
            width: 180px;
            height: 55px;
            font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
            height: 50px;
            font-size: 16px;
            margin-top: 30px;
        }
        input[type='submit'] {
            transform: skew(15deg);
        }
        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            color: $white;
            background-color: $primary;
            border: none !important;
            &:before {
                transform: translateX(00%);
                transition: all 0.3s ease;
            }
            input[type='submit'] {
                color: $white;
            }
        }
        input[type='submit'] {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 6;
            border: none !important;
            border-radius: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none !important;
            outline: none !important;
            transition: all .3s ease;
        }
    }
}

.checkbox {
    position: relative;
    padding-left: 0;
    margin-top: 25px;
    font-size: 18px;
    line-height: 32px;
    color: $primary;
    user-select: none;
    display: inline-block;
    width: 100%;
    @include media-breakpoint-down(lg) {
        margin-top: 15px;
    }
    a {
        color: $primary;
    }
    br {
        display: none;
    }
    .wpcf7-form-control-wrap {
        position: static;
    }
    span.wpcf7-list-item {
        display: inline-block;
        margin: 0;
    }
    input {
        position: absolute;
        opacity: 0;
        top: 5px;
        height: 18px;
        width: 108px;
        z-index: 999;
        cursor: pointer;
        &:checked {
            &~.wpcf7-list-item-label {
                background-color: transparent;
            }
            &~.wpcf7-list-item-label:after {
                position: absolute;
                content: '';
                left: 6px;
                display: block;
                top: 9px;
                width: 5px;
                height: 10px;
                border: solid $primary;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
    .wpcf7-list-item-label {
        padding-left: 30px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: transparent;
            border: 1px solid $primary;
        }
        &:after {
            display: none;
        }
    }
    .checkbox-text {
        padding-left: 0;
        position: absolute;
        line-height: 1.5;
        top: 4px;
        left: 35px;
    }
}