// Bg colors

.bg-white {
    background-color: $white;
}
.bg-primary {
    background-color: $primary;
}
.bg-light-gray {
    background-color: $light-gray;
}
.bg-black-1 {
    background-color: $black1;
}
.bg-black-2 {
    background-color: $black2;
}
.bg-black-3 {
    background-color: $black3;
}

