.news-box{
    .row{
        @media (min-width:1119px){
            margin-left: -20px;
            margin-right: -20px;
        }
        [class*="col-"]{
            @media (min-width:1119px){
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &__single{
        margin-bottom: 40px;
        position: relative;
        @include media-breakpoint-down(lg){
            margin-bottom: 30px;
        }
        &::before{
            content: "";
            width: 80%;
            height: 65%;
            bottom: -15px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            filter: blur(30px);
            background-color: rgba($color: $black, $alpha: 0.23);
            z-index: -11;
            border-radius: 35px;

        }

        &_img{
            height: 255px;
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
        &_text{
            background: $white;
            padding: 25px 40px 40px;

            @include media-breakpoint-down(xl){
                padding: 25px 25px 30px;
            }

            span{
                display: inline-block;
                margin-bottom: 23px;
                line-height: 1;
                color: $primary;
            }
            h4{
                color: $listcolor;
            }
            P{
                margin-bottom: 0;
            }
            a{
                margin-top: 65px;
                display: inline-block;
                color: $primary;
                @include media-breakpoint-down(xl){
                    margin-top: 45px;
                }
                i{
                    margin-top: 1px;
                    margin-left: 10px;
                    transition: all 300ms ease-in-out;
                }
            }
        }
        &:hover{
            .news-box__single_text{
                a{
                    i{
                        margin-left: 18px;
                    }
                }
            }
        }        
    }
    &__wrap{
        max-width: 1260px;
        margin-left: auto;
        margin-right: auto;


    }
    .news_section_btn{
        margin-top: 70px;
        @include media-breakpoint-down(lg){
            margin-top: 20px;
        }
        a{
            font-size: 20px;
            color: $listcolor;
            font-weight: $font-weight-medium;
            i{
                transition: all 300ms ease-in-out;
                left: 20px;
                position: relative;
            }
            &:hover{
                i{
                    left: 30px;
                }
            }
        }
    }
}

