.offene-stellen{
    .row{
        @media (min-width:1119px){
            margin-left: -15px;
            margin-right: -15px;
        }
        [class*="col-"]{
            @media (min-width:1119px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .select-filter{
        margin-top: 160px;
    }
    .grid-list-bar{
        margin: 35px;
        &-inner{
            display: flex;
            justify-content: flex-end;
            a{
                background: $secondary;
                width: 51px;
                height: 51px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 25px;
                text-align: center;
                color: $white;
                font-size: 25px;
                transition: all 300ms ease-in-out;
                &:hover, &.current{
                    background: $primary;
                }
            }
        }        
    }

    &-inner {
        width:100%;
    }

    &-singleimage {
        max-width: 100%;
        height: 300px;

        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }

    &-box{
        background: $white;
        margin-bottom: 30px;
        padding: 40px;
        position: relative;
        &:after{
            content: "";
            left: 40px;
            bottom:0;
            position: absolute;
            width: 80%;
            height: calc(100% - 40px);
            z-index: -1;
            background: rgba($color: #212127, $alpha: 0.17);
            -webkit-filter: blur(50px);
            filter: blur(50px);
        }

        span{
            display: block;
            margin-bottom: 20px;
            font-size: 20px;
            color: $primary;
        }
        h4{
            margin-bottom: 8px;
        }
        h6{
            font-size: 17px;
            font-weight: $font-weight-normal;
            margin-bottom: 25px;
        }
        a{
            margin-top: 20px;
            display: inline-block;
            color: $primary;

            i{
                margin-top: 1px;
                margin-left: 10px;
                transition: all 300ms ease-in-out;
            }
        }
        &:hover{
            a{
                i{
                    margin-left: 18px;
                }
            }
        } 
    }

&-list {

    display: block;

    .list-header {
        display: flex;
        border-bottom: 1.5px solid $eclipse;

        @include media-breakpoint-down(lg){
            display: none;
        }

        li{
            color:$secondary;
            padding-bottom: 23px;

            &:first-child{
                max-width: 50%;
                width:100%;
            }

            &:nth-child(2){
                max-width: 20%;
                width:100%;
            }
            &:last-child{
                max-width: 30%;
                width:100%;
            }
        }
    }

    .list-view {
        display: block;

        li{
            display: flex;
            flex-wrap: wrap;
            width:100%;
            padding: 64px 0;
            border-bottom: 0.5px solid $eclipse;

            @include media-breakpoint-down(lg){
                padding: 15px 0;
            }

            @include media-breakpoint-down(lg){
                flex-direction: column;
            }

            .offer {
                max-width: 50%;
                width:100%;
                color:$listcolor;

                @include media-breakpoint-down(lg){
                    max-width: 100%;
                    margin-bottom: 10px;
                }
            }

            .type {
                max-width: 20%;
                width:100%;

                @include media-breakpoint-down(lg){
                    max-width: 100%;
                }
            }

            .depertment {
                max-width: 16%;
                width:100%;

                @include media-breakpoint-down(lg){
                    max-width: 100%;
                }
            }

            .details {
                flex-grow: 1;
                text-align: center;

                @include media-breakpoint-down(lg){
                    max-width: 100%;
                    text-align: left;
                    margin-top: 10px;
                }
            }

            a {
                text-transform: uppercase;
                color:$secondary;
                transition: all 0.4s ease-in-out;

                i {
                    margin-right: 10px;
                    color:$primary;
                }

            }

            
        }
    }
}

.view {
    display:none;

    &.current {
        display: block;
    }
}

}



