.product-box{
    .row{
        @media (min-width:1119px){
            margin-left: -15px;
            margin-right: -15px;
        }
        [class*="col-"]{
            @media (min-width:1119px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    &__single{
        background: rgb(238,238,238);
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 50%, rgba(248,248,248,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 50%,rgba(248,248,248,1) 100%);
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 50%,rgba(248,248,248,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f8f8f8',GradientType=0 ); 
        margin-top: 15px;
        @include media-breakpoint-down(lg){
            margin-top: 60px;
        }

        &_img{
            max-width: 385px;
            margin-bottom: -50px;
            top: -50px;
            position: relative;
            img{
                width: 100%;
            }
        }
        &_text{
            padding: 55px 50px 75px;
            @include media-breakpoint-down(xxl){
                padding: 35px 30px 55px;
            }
            @media (max-width:1280px) {
                padding: 25px 20px 35px;
            }
            h3{
                margin-bottom: 30px;
                @include media-breakpoint-down(xxl){
                    font-size: 28px;
                    letter-spacing: 1.1px;
                }
                @include media-breakpoint-down(xl){
                    font-size: 26px;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }
                @media (max-width:1280px) {
                    font-size: 24px;
                    letter-spacing: 0.5px;                    
                }
            }
            p{
                margin-bottom: 0;
            }
            a{
                margin-top: 35px;
                display: inline-block;
                color: $secondary;
                margin-left: -15px;
                transition: all 300ms ease-in-out;

                svg{
                    opacity: 0;
                    width: 0;
                    margin-right: 12px;
                    transition: all 300ms ease-in-out;
                }                
            }
        }
        &:hover{
            .product-box__single_text{
                a{
                    margin-left: 0;
                    color: $primary;
                    svg{
                        width: 17px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}