.breadcumb {
    margin-bottom: 20px;
    &__content {
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(xxl) {
            justify-content: flex-end;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
        p {
            margin-bottom: 0;
            align-items: center;
            font-weight: $font-weight-medium;
        }
        .text-button {
            margin-left: 20px;
        }
    }
    &__holder {
        display: flex;
        align-items: center;
        font-size: 14px;
        @include media-breakpoint-down(sm) {
            flex-flow: row wrap;
        }
        a {
            color: $blue;
            font-weight: 300;
            i {
                margin-right: 10px;
            }
            &:hover {
                color: $primary;
            }
        }
        span {
            color: $blue;
            margin: 0px 10px;
            font-size: 14px;
        }
    }
}
