@import "variables";

/* Content */

.content {
    padding: $section-padding;
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
    h1 {
        color: $primary;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $font-size-md;
        margin-bottom: 30px;
        margin-top: 60px;
    }
}