@import "variables";

/* Trainings Overview */

.trainings-overview {
    padding: $section-padding;
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
    .training {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
        margin-bottom: 20px;
        position: relative;
        .image {
            display: block;
            position: relative;
            height: 220px;
            width: 100%;
            overflow: hidden;
            @include media-breakpoint-down(md) {
                height: 200px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .text {
            background: $light-grey;
            padding: 30px;
            font-size: 16px;
            @include media-breakpoint-down(md) {
                padding: 20px;
            }
            .title {
                font-weight: $font-weight-bold;
                font-size: $font-size-md;
                margin-bottom: 20px;
                @include media-breakpoint-down(md) {
                    font-size: inherit;
                }
            }
            .info {
                font-weight: $font-weight-bold;
                margin-bottom: 20px;
            }
            .desc {
                margin-bottom: 50px;
            }
            a {
                color: $body-color;
            }
        }
    }
}

/* Training Register */

.training-register {
    padding: $section-padding;
    background: $secondary;
    color: $white;
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
    form {
        margin-top: 60px;
        font-size: 16px;
        input,
        textarea {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            background: transparent;
            border: solid 1px $white;
            border-radius: $border-radius;
            padding: 15px;
            color: $white;
            line-height: 1.2;
            outline: none;
        }
        ::placeholder {
            color: $white;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $white;
        }
        ::-ms-input-placeholder {
            color: $white;
        }
        .submit {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            .checkbox {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }
}

/* Training Content */

.training-content {
    padding: $section-padding;
    @include media-breakpoint-down(md) {
        padding: $section-padding-small;
    }
    .training-content__header {
        margin-bottom: 80px;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .training-content__info {
        margin-bottom: 10px;
        font-size: $font-size-md;
        @include media-breakpoint-down(md) {
            font-size: $font-size-base;
        }
    }
    .training-content__headline {
        margin-bottom: 80px;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
    }
    .training-content__desc {
        margin-bottom: 80px;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
    }
    .training-content__facts {
        margin-bottom: 80px;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                font-size: $font-size-md;
                margin-bottom: 10px;
                @include media-breakpoint-down(md) {
                    font-size: $font-size-base;
                    margin-bottom: 5px;
                }
                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Pro";
                    color: $primary;
                    margin-right: 15px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .training-content__member {
        .member {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 20px;
            .image {
                flex: 0 0 90px;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;
                border: solid 2px $dark-grey;
                @include media-breakpoint-down(md) {
                    flex: 0 0 70px;
                    width: 70px;
                    height: 70px;
                    margin-right: 15px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                line-height: 1.3;
                span {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 8px;
                }
            }
        }
    }
    .training-content__application {
        background: $light-grey;
        padding: 30px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
        @include media-breakpoint-down(lg) {
            margin-top: 80px;
        }
        @include media-breakpoint-down(md) {
            padding: 20px;
            margin-top: 50px;
        }
        .main-title {
            font-size: $font-size-md;
            font-weight: $font-weight-bold;
            margin-bottom: 20px;
        }
        .contact {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 40px;
            .image {
                flex: 0 0 90px;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
                border: solid 2px $black;
                margin-right: 20px;
                @include media-breakpoint-down(md) {
                    flex: 0 0 70px;
                    width: 70px;
                    height: 70px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .name {
                line-height: 1.3;
                span {
                    font-size: 14px;
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
        form {
            font-size: 16px;
            .form-group {
                margin-bottom: 20px;
                .title {
                    margin-bottom: 10px;
                }
                input {
                    border: none;
                    padding: 6px;
                    background: $white;
                    border-radius: $border-radius;
                    height: auto;
                    margin-bottom: 10px;
                    width: 100%;
                    display: block;
                    outline: none;
                }
                .checkbox {
                    font-size: 12px;
                }
                .button {
                    width: 100%;
                }
            }
        }
    }
}