//cms-title
.cms-title{
    margin-top: 110px;
    .text-block{
        width: 100%;
        margin-top: 60px;
        p{
            max-width: 520px;
        }
    }

    .site-heading{
        margin-bottom: 75px;
    }
}