/* Global */

$section-padding: 200px 0;
$section-padding-medium: 80px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px
);

/* Color */

$primary: #212121;
$secondary: #DBB65F;
$gray: #ECECEC;


$black: #303030;

$red: #F62C32;
$light-gray: #ebebeb;
$light-white: #F2F2F2; 
$pink: #FF0077;
$light-red: #AA164A;

/* Background */
$back-gray: #EFEFEF;
$back-gray-light: #E6E6E6;


/* Font */

$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-size-base: 1rem;
$font-size-md: $font-size-base;
$font-size-lg: $font-size-base;
$line-height-base: 1.5;


$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 70px;
$h2-font-size: 44px;
$h3-font-size: 34px;

$link-hover-decoration: none;



$icomoon-font-family: "Die-Schneiders" !default;
$icomoon-font-path: "fonts" !default;

$icon-contract: "\e903";
$icon-profit-increase: "\e904";
$icon-fuel: "\e906";
$icon-group: "\e907";
$icon-voucher: "\e908";
$icon-piggy-bank: "\e909";
$icon-stay: "\e90a";
$icon-shake-hands: "\e90b";
$icon-steering: "\e90c";
$icon-diamond: "\e90d";
$icon-horse: "\e90e";
$icon-insurance: "\e90f";
$icon-plane: "\e910";
$icon-special-wish: "\e911";
$icon-chauffeur: "\e912";
$icon-car: "\e913";
$icon-keys: "\e914";
$icon-race: "\e915";
$icon-mail: "\e900";
$icon-call: "\e901";
$icon-whatsapp: "\e902";
$icon-sound-waves: "\e905";

